<% @link_model =@mmc.link_models.build if  @link_model == nil%>
<%= form_for([@mmc,@link_model]) do |f| %>
  <% if @link_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link_model.errors.count, "error") %> prohibited this link_model from being saved:</h2>

      <ul>
      <% @link_model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Link model type" %><br />
    <%= f.text_field :linkmodeltype %>
  </div>
  <div class="field">
    <%= f.label "Link model id" %><br />
    <%= f.text_field :linkmodelid %>
  </div>
  <div class="field">
    <%= f.label "Link model file" %><br />
    <%= f.text_field :file %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
