<%= stylesheet_link_tag    "table", :media => "all" %>
<h1>Listing link_models</h1>

<table>
  <tr>
    <th>Link type</th>
    <th>Link model id</th>
    <th>File</th>    
  </tr>
<% @link_models.each do |link_model| %>
  <tr>
    <td><%= link_model.linkmodeltype %></td>
    <td><%= link_model.linkmodelid %></td>
    <td><%= link_model.file %></td>    
  </tr>
<% end %>
</table>
<br />
<%= link_to 'New Link model', new_multi_model_container_link_model_path %>
