<%= stylesheet_link_tag    "table", :media => "all" %>
<p><b>Link model type:</b><%= @link_model.linkmodeltype %></p>
<p><b>Link model id:</b> <%= @link_model.linkmodelid %></p>
<p><b>File:</b><%= @link_model.file %></p>
<h3>Listing linked primary models</h3>
<table>
  <tr>  
  	<th rowspan="<%= @link_model.primary_models.size+1 %>"><%=@link_model.linkmodeltype %></th> 
    <th>Model type</th>
    <th>Model id</th>
    <th>Contents</th>        
  </tr>
<% @link_model.primary_models.each do |primary_model| %>
  <tr>    
    <td><%= primary_model.modelType %></td>
    <td><%= link_to primary_model.modelid, "/multi_model_containers/#{@link_model.multi_model_container.id}/primary_models/#{primary_model.id}"  %></td>
    <td>    	
    <table>
  	<tr>    
    <th>ID</th>
    <th>Format</th>
    <th>Format Version</th>        
  	</tr>	    	
    <% primary_model.mm_contents.each do |mm_contents| %>    	
    	  <tr>
    	  	<td><%= mm_contents.contentid %></td> 
    	  	<td><%= mm_contents.format %></td>
    	  	<td><%= mm_contents.formatVersion %></td>
    	  	</tr>
    <% end %>	
    </table>
    </td>        
    </tr>
<% end %>
</table>
<%= link_to 'Edit', "/multi_model_containers/#{@link_model.multi_model_container.id}/edit" %>
<%= link_to 'Back', "/multi_model_containers/#{@link_model.multi_model_container.id}" %>
