<%= stylesheet_link_tag    "table", :media => "all" %>
<%= form_for(@lv_item) do |f| %>
  <% if @lv_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lv_item.errors.count, "error") %> prohibited this lv_item from being saved:</h2>
      <ul>
      <% @lv_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%=  'Ordnungszahl' %><br />    
    <%= f.text_area :rNOpaer , {:rows => 3 , :cols=> 30}%>
  </div>  
  <div class="field">
    <%= 'Leistungsbeschreibung' %><br />    
    <%= f.text_area :name , {:rows => 3 , :cols=> 30}%>
  </div>
  <div class="field">
    <%= f.label :description_OutlineText %><br />
    <%= f.text_field :description_OutlineText %>
  </div> 
  <div class="field">
    <%= f.label :resources %><br />
    <%= f.text_area :resources , {:rows => 7 , :cols=> 120} %>
    
    <% if  @lv_item != nil %> 
    	<%=	@lv_item.resources.to_s.html_safe %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :duration_formula %><br />
    <%= f.text_field :duration_formula , :size =>90 %>
  </div>
  <div class="field">
    <%= f.label :priority %><br />
    <%= f.text_field :priority %>
  </div>
  <div class="field">
    <%= f.label :building_element_class %><br />
    <%= f.text_field :building_element_class %>
  </div>
  <div class="field">
    <%= f.label :default_calander %><br />
    <%= f.text_field :default_calander %>
  </div>
  <div class="field">
    <%= f.label :description_CompleteText %><br />
    <%= f.text_area :description_CompleteText, {:rows => 4 , :cols=> 60} %>
    <% if  @lv_item != nil %> 
    	<%=	@lv_item.description_CompleteText.to_s.html_safe %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :onStartScript %><br />
    <%= f.text_area :onStartScript , {:rows => 4 , :cols=> 60}%>
  </div>
  <div class="field">
    <%= f.label :onEndScript %><br />
    <%= f.text_area :onEndScript, {:rows => 4 , :cols=> 60} %>
  </div>
  <div class="field">
    <%= f.label :drawResourcesScript %><br />
    <%= f.text_area :drawResourcesScript, {:rows => 4 , :cols=> 60} %>
  </div>
  <div class="field">
    <%= f.label :color %><br />
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :export3D %><br />
    <%= f.check_box :export3D %>
  </div>
  <div class="field">
    <%= f.label :quantity_formula %><br />
    <%= f.text_area :quantity_formula , {:rows => 2 , :cols=> 60}%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
