<%= stylesheet_link_tag    "table", :media => "all" %>
<h1>Listing Standard Leistungspositionen</h1>
Related links:<%= link_to "Aufwandswerte", "/aws" %><br /><br />

<%= link_to image_tag("icons/plus.png", :border => 0) + t("New LV standard-item"), new_lv_item_path %><br/><br/>

<table>
  <tr>     	
    <th>Ordnungszahl</th>
    <th>Leistungsbeschreibung</th>        
    <th>Priorität</th>
     <th>Ressourcen/Dauer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @lv_items.each do |lv_item| %>
  <tr>  	
  	<td><%= lv_item.rNOpaer.split("\n").join("<br>").html_safe %></td>    
    <td><%= lv_item.name.split("\n").join("<br>").html_safe %></td>        
    <td><%= lv_item.priority %></td>
    <td>
    	<%= lv_item.resources.to_s.html_safe %>
    	<%   duration_formula=lv_item.duration_formula %>
    	<% Aw.all.each do |aw| %>
    	<% duration_formula.sub!(aw.name,"<a title ='" + aw.name +  "' href='/aws/" + aw.id.to_s + "'>" + aw.value.to_s + "</a>[" + aw.zeit_einheit + "/" + aw.menge_einheit + " pro " + aw.pro + "]") if lv_item.duration_formula.include?(aw.name)%>
    	<% end %>
    	Duration:<br /><%= duration_formula.html_safe %>
    </td>    
    <td><%= link_to 'Show', lv_item %></td>
    <td><%= link_to 'Edit', edit_lv_item_path(lv_item) if not lv_item.readonly? %></td>
    <td><%= link_to 'Destroy', lv_item, method: :delete, data: { confirm: 'Are you sure?' } if not lv_item.readonly? %></td>
  </tr>
<% end %>
</table>