<%= stylesheet_link_tag    "table", :media => "all" %>
<p>
  <b>Ordnungszahl</b>
  <%= @lv_item.rNOpaer %>
</p>
<p>
  <b>Leistungsbeschreibung</b>
  <%= @lv_item.name %>
</p>

<p>
  <b>Description complete text:</b>
  <%= @lv_item.description_CompleteText.html_safe %>
</p>

<p>
  <b>Description outline text:</b>
  <%= @lv_item.description_OutlineText %>
</p>

<hr/>
<h2>Simulation Parameters</h2>
<p>
  <b>Priority:</b>
  <%= @lv_item.priority %>
</p>
<p>
  <b>Building element classes:</b>
  <%= @lv_item.building_element_class %>
</p>

<p>
  <b>Default calander:</b>
  <%= @lv_item.default_calander %>
</p>

<p>
  <b>Duration formula:</b>
  <%= @lv_item.duration_formula %>
</p>

<p>
  <b>Resources:</b>
  <%= @lv_item.resources.html_safe %>
</p>

<p>
  <b>OnStart script:</b><br />
  <%= image_tag("icons/script.png", :width => 24)%>
  <%= @lv_item.onStartScript %>
</p>

<p>
  <b>OnEnd script:</b><br />
  <%= image_tag("icons/script.png", :width => 24)%>
  <%= @lv_item.onEndScript %>
</p>

<p>
  <b>Draw Resources script:</b><br />
  <%= image_tag("icons/script.png", :width => 24)%>
  <%= @lv_item.drawResourcesScript %>
</p>

<p>
  <b>Color:</b>
  <%= @lv_item.color %>
</p>

<p>
  <b>Export3d:</b>
  <%= @lv_item.export3D %>
</p>

<p>
	<b>Quantity formula:</b><br />
	<%= image_tag("icons/Quantity_formula.png", :width => 100)%><br />
  
  <%= @lv_item.quantity_formula %>
</p>


<%= link_to 'Edit', edit_lv_item_path(@lv_item) if not @lv_item.readonly?%> |
<%= link_to 'Back', lv_items_path %>
