<%= stylesheet_link_tag    "table", :media => "all" %>
<table>
  <tr>     	
    <th>Code</th>
    <th>Count</th>    
  </tr>
<% @ifc_objects.each do |ifc_object| %>
  <tr> 	 
  	<td><%= ifc_object["code"]  %></td> 
  	<td><%= ifc_object["count"]  %></td>        
  </tr>
<% end %>
</table>