<%= stylesheet_link_tag    "table", :media => "all" %>
<%= stylesheet_link_tag    "pagination", :media => "all" %>
<%= javascript_include_tag "ifc_objects" , :media => "all" %>
<h1>Listing Building Elements</h1>
<div class="search_div">
<% # search_form_for @search, url: search_sim_events_path, method: :post do |f| %>
<%= search_form_for @search do |f| %>   
  <%= f.condition_fields do |c|%>  
  <%=  
  render "condition_fields", f: c
  %>
  <% end %>  
  <div class="actions">
  	<%= f.submit "Search" %>
  	<%= link_to_add_fields "Add more conditions",f,:condition%>
  </div>
<% end %>
</div>
<% atts_list="Code|globalId|_4D_Code|_4D_Element|_4D_Element_No_|_4D_Element_Typ_No_|_4D_Level|_4D_Material|_4D_Site_Section|objectType".split("|") %>
<table>
  <tr>
  	<% atts_list.each do |att| %> 
  	<th><%= sort_link @search ,att.to_sym , att  %></th>  	
  	<% end %>  	
    <th></th>
    <th></th>    
  </tr>
<% @ifc_objects.each do |ifc_object| %>
  <tr>  	
  	<% atts_list.each do |att| %> 
  	<td><%= ifc_object.send att %></td> 
  	<% end %>
    <td><%= link_to 'Show', ifc_object %></td>
    <td><%= link_to 'Edit', edit_ifc_object_path(ifc_object) %></td>    
  </tr>
<% end %>
</table>
<br />
<div class="digg_pagination">
    <div clas="page_info">
      <%= page_entries_info @ifc_objects %>
    </div>
    <%= will_paginate  @ifc_objects, :container => false %>
</div>