<% @sim_szenario =@sim_model.sim_szenarios.build if  @sim_szenario == nil%>
<%= form_for([@sim_model,@sim_szenario]) do |f| %>
  <% if @sim_szenario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sim_szenario.errors.count, "error") %> prohibited this sim_szenario from being saved:</h2>

      <ul>
      <% @sim_szenario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
