<%= stylesheet_link_tag    "table", :media => "all" %>
<h3>Listing simultion szenarios</h3>
<%= link_to image_tag("icons/plus.png", :border => 0) + t("New Simualtion szenario"), new_sim_model_sim_szenario_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>   
    <th>Results</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @sim_szenarios.each do |sim_szenario| %>
  <tr>
    <td><%= sim_szenario.name %></td>
    <td><%= sim_szenario.description.html_safe %></td>   
    <td><%= link_to 'Results', "sim_szenarios/#{sim_szenario.id}/sim_results" %></td> 
    <td><%= link_to 'Show', "sim_szenarios/#{sim_szenario.id}" %></td>
    <td><%= link_to 'Edit', "sim_szenarios/#{sim_szenario.id}/edit" %></td>
    <td><%= link_to 'Destroy', "sim_szenarios/#{sim_szenario.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'Back to simulation model:' + @sim_model.name, sim_model_path(@sim_model) %>

