<p>
  <b>Name:</b>
  <%= @sim_szenario.name %>
</p>
<p>
  <b>Description:</b>
 <h2>  <%= @sim_szenario.description.html_safe %></h2>
</p>
<%= link_to 'Edit', edit_sim_model_sim_szenario_path(@sim_szenario) %> |
<%= link_to 'Back', sim_model_sim_szenarios_path %>





