<%= form_for(@multi_model_container) do |f| %>
  <% if @multi_model_container.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@multi_model_container.errors.count, "error") %> prohibited this multi_model_container from being saved:</h2>

      <ul>
      <% @multi_model_container.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    MMC local path<br />
    <%= f.text_field :mmc_file_path %>
  </div>
  <div class="field">
    MMC URL on the Simulation Server<br />
    <%= f.text_field :mmc_folder_path %>
  </div>
  <div class="field">
    <%= f.label :meta_orgin_created %><br />
    <%= f.datetime_select :meta_orgin_created %>
  </div>
  <div class="field">
    <%= f.label :meta_orgin_creatorId %><br />
    <%= f.text_field :meta_orgin_creatorId %>
  </div>
  <div class="field">
    <%= f.label :meta_orgin_application %><br />
    <%= f.text_field :meta_orgin_application %>
  </div>
  <div class="field">
    <%= f.label :meta_orgin_appVersion %><br />
    <%= f.text_field :meta_orgin_appVersion %>
  </div>
  <div class="field">
    <%= f.label :guid %><br />
    <%= f.text_field :guid %>
  </div>
  <div class="field">
    <%= f.label :formatVersion %><br />
    <%= f.text_field :formatVersion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
