<%= stylesheet_link_tag    "table", :media => "all" %>
<h2>Multi-Model Navigator</h2>

<table>
  <tr>
  	<th>ID</th>
    <th>Show</th>
    <th>MMC name</th>
    <th>Created at</th>
    <th>Creator</th>
    <th>Application</th>    
    <th></th>    
  </tr>

<% @multi_model_containers.each do |multi_model_container| %>
  <tr>
  	<td><%= multi_model_container.id %></td>
    <td><%= link_to image_tag("icons/MMC_small.png",:border =>0), multi_model_container %><br/>
    	<%= link_to "Download", multi_model_container.mmc_folder_path %>
    </td>
    <td><%= link_to multi_model_container.name,multi_model_container %></td>
    <td><%= multi_model_container.meta_orgin_created %></td>
    <td><%= multi_model_container.meta_orgin_creatorId %></td>
    <td><%= multi_model_container.meta_orgin_application %>(<%= multi_model_container.meta_orgin_appVersion %>)</td>       
        
    <td><%= link_to 'Edit', edit_multi_model_container_path(multi_model_container) if not multi_model_container.readonly?  %></td>    
  </tr>
<% end %>
</table>

<br />

<%= link_to('Register new Mulit Model Container', new_multi_model_container_path)  if current_user.name == "Ali Ismail" %> 
