<%= stylesheet_link_tag    "multi_model_containers", :media => "all" %>
 <h3> MMC :<%= @multi_model_container.name %></h3>

<h3>Meta Information</h3>
<p>
  <b>Orgin created:</b>
  <%= @multi_model_container.meta_orgin_created %>
  <b>Orgin creatorid:</b>
  <%= @multi_model_container.meta_orgin_creatorId %>
</p>
<p>
  <b>Orgin application:</b>
  <%= @multi_model_container.meta_orgin_application %>
  <b>Orgin appversion:</b>
  <%= @multi_model_container.meta_orgin_appVersion %>
</p>
<p>
  <b>Guid:</b>
  <%= @multi_model_container.guid %>
</p>
<p>
  <b>Formatversion:</b>
  <%= @multi_model_container.formatVersion %>
</p>
<table>
  <tr><td colspan="5" style="height: 45px;background-color:#d9d9d9 ;color:#800000;font-size: 16pt"><%= @multi_model_container.name %></td></tr>	
<% @multi_model_container.primary_models.each do |primary_model| %>
  <tr>
  	<td style="background-color:#d9d9d9 ;color:#800000;width: 20px">
  	<td style="background-color:#800000 ;color:#800000;width: 20px">
  	<td colspan="5" style="background-color: #ffffff;height: 18px"></td></tr>
  <tr>    
  	<td style="background-color:#d9d9d9 ;color:#800000;width: 20px">
  	<td style="background-color:#800000 ;color:#800000;width: 20px">
    <td style="background-color:#7f7f7f;color:#ffffff;font-size: 14pt"><%= link_to primary_model.modelid, "/multi_model_containers/#{@multi_model_container.id}/primary_models/#{primary_model.id}"  %>-</td>
    <td style="background-color:#7f7f7f;color:#ffffff;font-size: 14pt"><%= primary_model.modelType %></td>    
    <td style="background-color:#7f7f7f;padding: 3px">    	
    <table width="98%" style="margin-left:10px" >
  	<tr>    
    <td width="30px">ID</td>
    <td width="60px">Format</td>
    <td width="80px">Schema</td>  
    <td>Files</td>      
  	</tr>	    	
    <% primary_model.mm_contents.each do |mm_contents| %>    	
    	  <tr>
    	  	<td><%= mm_contents.contentid %></td> 
    	  	<td><%= link_to mm_contents.format , "/multi_model_containers/#{@multi_model_container.id}/primary_models/#{primary_model.id}/mm_contents/#{mm_contents.id}" %></td>
    	  	<td><%= mm_contents.formatVersion %></td>
    	  	<td>    	  	
    	  		<% mm_contents.mm_files.each do |mm_file| %>    <br>
    	  		  	  		
    				<% if primary_model.modelType.upcase == "ACTIVITY" && mm_contents.format.upcase.strip == "XML" %>    	
    					<%= link_to image_tag("icons/eye.gif", :border => 0 , :width=> 22),"http://bci52.cib.bau.tu-dresden.de:3001/multimodel/index.php?xsl=vorgangmodel&xml=http://127.0.0.1:3000/" + @multi_model_container.mmc_folder_path + '/' + mm_file.file.sub("file:///","")   %>
    			    <% end %>
    			    
    			    <% if mm_contents.format.upcase.strip == "SPF" %>
    					<% link_to(image_tag("icons/eye.gif", :border => 0 , :width=> 22),"http://www.bimviewer.com/?url=/mmc/" + @multi_model_container.guid + '/' + mm_file.file.sub("file:///","").sub(".ifc",".xml") , :target => '_blank' )  %>
    			    <% end %>
    			     <% if primary_model.modelType.upcase == "QTO" and mm_contents.format.upcase.strip == "XML" %>
    			     
    					<%= link_to image_tag("icons/eye.gif", :border => 0, :width=> 22),"http://bci52.cib.bau.tu-dresden.de:3001/multimodel/index.php?xsl=qto&xml=http://127.0.0.1:3000/" + @multi_model_container.mmc_folder_path + '/' + mm_file.file.sub("file:///","")   %>
    			    <% end %>
    			    
    			    <%= mm_file.namespace + "::" if mm_file.namespace != "" %>
    				<%= link_to mm_file.file.sub("cpixml/","").sub("file:///","").sub("BoQ/","").sub("Plant/","").sub("QTO/","").sub("Object/","").sub("xml/","").sub("geabxml/","").sub("ifc/","").sub("Activity/","").sub("Estimate/",""),  @multi_model_container.mmc_folder_path + '/' + mm_file.file.sub("file:///","") %>    				
    				<br/>
				<% end %>  		  	
    	  		  	  		
    	  	</td>
    	  	</tr>
    <% end %>    
    </table>
    </td>        
    </tr>    
<% end %>
<% @multi_model_container.link_models.each do |link_model| %>  
<tr>
	<td style="background-color:#d9d9d9 ;color:#800000;width: 40px"></td>
	<td style="background-color:#800000 ;color:#ffffff;width: 40px;font-size: 18pt">LM</td>
	<td style="background-color:#d9d9d9;color:#ffffff;font-size: 14pt"><%=  link_to link_model.linkmodelid, "/multi_model_containers/#{link_model.multi_model_container.id}/link_models/#{link_model.id}" %></td>
	<td colspan="2" style="height: 45px;background-color:#d9d9d9 ;color:#800000;font-size: 14pt"><%= link_model.linkmodeltype %>:(
	<% link_model.primary_models.each do |primary_model| %>
	<%= primary_model.modelid %>	
	<% end %>
	)
	<% link_to link_model.file,  @multi_model_container.mmc_folder_path + '/' + link_model.file.sub("file:///","") %>
	
	<% if link_model.linkmodeltype.to_s.upcase.include?("M2A2") %>
	<%= link_to image_tag("icons/eye.gif", :border => 0, :width=> 22),"http://bci52.cib.bau.tu-dresden.de:3001/multimodel/index.php?xsl=links_m2a2&xml=http://127.0.0.1:3000/" + @multi_model_container.mmc_folder_path + '/' + link_model.file.sub("file:///","")   %>
	<% else %>
	<%= link_to image_tag("icons/eye.gif", :border => 0, :width=> 22),"http://bci52.cib.bau.tu-dresden.de:3001/multimodel/index.php?xsl=links&xml=http://127.0.0.1:3000/" + @multi_model_container.mmc_folder_path + '/' + link_model.file.sub("file:///","")   %>
	<% end %>
	</td>
</tr>
<% end %>
</table>
<br>
<%= link_to "Add new elementary(application) model", "#{@multi_model_container.id}/primary_models/new" if not @multi_model_container.readonly? %><br />
<%= link_to "Add new link model", "#{@multi_model_container.id}/link_models/new" if not @multi_model_container.readonly? %>
<br />
<p>
  <b>MMC local path:</b>
  <%= @multi_model_container.mmc_file_path %>
</p>
<p>
  <b>MMC URL on the Simulation Server:</b>
  <%= @multi_model_container.mmc_folder_path %>
</p>
<hr />
<%= link_to 'Edit', edit_multi_model_container_path(@multi_model_container) if not @multi_model_container.readonly? %> |
<%= link_to 'Back', multi_model_containers_path %>
