<%= form_for(@standard_color) do |f| %>
  <% if @standard_color.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@standard_color.errors.count, "error") %> prohibited this standard_color from being saved:</h2>

      <ul>
      <% @standard_color.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :R %><br />
    <%= f.number_field :R %>
  </div>
  <div class="field">
    <%= f.label :G %><br />
    <%= f.number_field :G %>
  </div>
  <div class="field">
    <%= f.label :B %><br />
    <%= f.number_field :B %>
  </div>
  <div class="field">
    <%= f.label :A %><br />
    <%= f.text_field :A %>
  </div>
  <div class="field">
    <%= f.label :RGB %><br />
    <%= f.number_field :RGB %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :name_de %><br />
    <%= f.text_field :name_de %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
