<%= stylesheet_link_tag    "table", :media => "all" %>
<h3>Colors list</h3>

<table>
  <tr>
    <th>R</th>
    <th>G</th>
    <th>B</th>
    <th>A</th>
    <th>RGB</th>
    <th>Name</th>
    <th>Name de</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @standard_colors.each do |standard_color| %>
  <tr>
    <td><%= standard_color.R %></td>
    <td><%= standard_color.G %></td>
    <td><%= standard_color.B %></td>
    <td><%= standard_color.A %></td>
    <td><div style="background-color:rgba(<%= standard_color.R %>,<%= standard_color.G %>,<%= standard_color.B %>,<%= standard_color.A %>)"><%= standard_color.RGB %></div></td>
    <td><%= standard_color.name %></td>
    <td><%= standard_color.name_de %></td>
    <td><%= link_to 'Show', standard_color %></td>
    <td><%= link_to 'Edit', edit_standard_color_path(standard_color) %></td>
    <td><%= link_to 'Destroy', standard_color, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Standard color', new_standard_color_path %>
