<p id="notice"><%= notice %></p>

<p>
  <b>R:</b>
  <%= @standard_color.R %>
</p>

<p>
  <b>G:</b>
  <%= @standard_color.G %>
</p>

<p>
  <b>B:</b>
  <%= @standard_color.B %>
</p>

<p>
  <b>A:</b>
  <%= @standard_color.A %>
</p>

<p>
  <b>Rgb:</b>
  <%= @standard_color.RGB %>
</p>

<p>
  <b>Name:</b>
  <%= @standard_color.name %>
</p>

<p>
  <b>Name de:</b>
  <%= @standard_color.name_de %>
</p>


<%= link_to 'Edit', edit_standard_color_path(@standard_color) %> |
<%= link_to 'Back', standard_colors_path %>
