<h1>Construction Simulation Toolkit (CST): Documentation</h1>
<p>Das Construction Simulation Toolkit, CST, ist ein prozessbasierter  Simulationsbaukasten für die Bauindustrie. Es ermöglicht eine schnelle und realitätsnahe Modellierung und Visualisierung der Unikatprozesse im Bauwesen und bietet verschiedenen modularen Simulationskomponenten Import und Export Datenschnittstellen und Validierungs- und Verifikationsmethoden an </p>
<p>Das Simulationsmodell mit CST ist modular gebaut und besteht aus verschiedenen Simulationsbausteinen, die in einer Bibliothek verwaltet werden. Es besteht aus Eingabebausteinen und Ausgabebausteinen. Mit dem Eingabebausteinen kann man die Eingabe aus unterschiedlichen Fachmodellen importieren und bearbeiten, z.B. werden mit dem MMC Baustein die Informationen aus einem Multimodellcontainer importiert und mit den BIM und Baustellen Bausteinen werden die Informationen aus dem Bauwerksmodell und Baustelleneinrichtungsmodell gespeichert und bearbeitet</p>
<p>Mit den Ausgabebausteinen werden die Ergeb¬nisse in verschiedenen Formaten dargestellt </p>
<%= image_tag "/doc/CST_components1.png" %>

<br/>
<br/>
<%= image_tag "/doc/CST_components2.png" %>
<hr>
<p>Im Folgenden werden die wichtigsten Bausteine des CST sowie deren Zusammenwirken kurz vorgestellt</p>

<h2>Project Template</h2>
<%= image_tag "/doc/CST_project_template.PNG" ,:border=> 1,:width => 800 %>
<p>Die Eingabe- und Ausgabebausteine sind als Standard Projektvorlage zusammengefasst. Dadurch ist es möglich, ein Simulationsmodell schnell zu erstellen und verschiedene Varianten eines Projekts  parallel zu simuliereren und miteinander zu vergleichen</p>
<hr>

<h2>BIM Data</h2>
<%= image_tag "/doc/CST_BIM_data_IFC.PNG" ,:border=> 1%>
<p>Dieser Baustein beinhaltet alle Informationen aus dem Bauwerksmodell, die für die Simulation relevant sind</p>
<hr>

<h2>Floor Editor</h2>
<%= image_tag "/doc/CST_Floor_Editor_icon.png" ,:border=> 1%><br />
<p>Mit Hilfe dieses Bausteins kann der Nutzer schnell ein 2D vereinfachtes Bauwerksmodell zeichnen, falls kein Modell zur Übertragung in die Simulation vorhanden ist</p>
<%= image_tag "/doc/CST_Floor_Editor.PNG" ,:border=> 1, :width => 800 %>
<hr>

<h2>MMC</h2>
<%= image_tag "/doc/CST_MMC_icon.png" ,:border=> 1%><br />
<p>Dieser Baustein bildet die Import/Export Schnittstellen zwischen einem Multimodellcontainer und den internen Simulationsmodelldaten</p>
<hr>



<h2>Resource Pool</h2>
<%= image_tag "/doc/CST_ResourcePool_icon.png" ,:border=> 1%><br />
<p>Stellt einen Verwalter für die vorhandenen Ressourcen (Bauarbeiter, Baumaterial, Baugeräte, usw.)</p>
<%= image_tag "/doc/CST_resource_pool.PNG" ,:border=> 1, :width => 800 %>
<hr>

<h2>Tower Crane</h2>
<%= image_tag "/doc/CST_Tower_Crane_icon.png" ,:border=> 1%><br />
<%= image_tag "/doc/CST_Tower_Crane.PNG" ,:border=> 1, :width => 800 %>
<hr>

<h2>Draw Tafel</h2>
<%= image_tag "/doc/CST_Draw_Tafel_icon.png" ,:border=> 1%><br />
<p>Mit diesem Baustein können 2D Animationen des Bauablaufs erstellt werden. Jeder Bauprozess wird mit einer grafischen Darstellung versehen, die den simulierten Arbeitsfortschritt durch vordefinierte Farben abbildet </p>
<%= image_tag "/doc/CST_Draw_Tafel.PNG" ,:border=> 1, :width => 800 %>
<hr>
<h2>Gantt Charts</h2>
<p>: Ein wichtiger Bestandteil der Simulationsergebnisse ist,  die Terminpläne als Balkendiagramme darzustellen. Durch das Zusammenfassen der Einzelvorgänge zu Sammelvorgängen  durch Verdichten können die Terminpläne in verschiedenen Detailierungsebenen visualisiert und exportiert werden und mit den ursprünglichen groben Terminplänen im Multimodellcontainer verglichen werden.</p>
<hr>


<h2>4D Visulaizer</h2>
<%= image_tag "/doc/CST_4D_Visualizer_icon.png" ,:border=> 1%><br />
<p>Dieser Baustein bietet die Möglichkeit, den Bauwerks- und Baustellenmodellzustand zu jedem Zeitpunkt als 3D Modell, dargestellt im COLLADA Format, zu exportieren. Die Exportfunktion kann automatisiert nach bestimmten Zeitintervallen, z. B. tageweise oder nach jedem Bauprozess, aufgerufen werden, um eine 4D Visualisierung automatisch zu erzeugen. Ebenso können Baugeräte wie Krane und andere Baustelleneinrichtungselemente dargestellt und animiert werden. Dieser Baustein ist abhängig vom 3D Viewer der Simulationssoftware Plant Simulation. Damit können die 4D Modelle exportiert und mit anderer Spezialsoftware problemlos geprüft und visualisiert werden.</p>
<hr>

<h2>Project Monitor</h2>
<p>Die Ressourcenauslastung, z.B. der Bauarbeiter oder Krane, und der Materialverbrauch auf der Baustelle, z.B. Beton, Bewehrung oder Schalungselement, werden mit Hilfe dieses Bausteins ermittelt und graphisch dargestellt</p>
<hr>

<h2>Sim VIZ</h2>
<p>Dieser Baustein bietet die Möglichkeit, die Simulationsergebnisse visuell in verschiedenen Formen darzustellen, womit es möglich ist, schnell die Ergebnisse zu prüfen und verschiedene Simulationszenarien miteinander zu vergleichen.</p>
<hr>