<%= form_for(@standard_resource) do |f| %>
  <% if @standard_resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@standard_resource.errors.count, "error") %> prohibited this standard_resource from being saved:</h2>

      <ul>
      <% @standard_resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br />
    <%= f.text_field :parent_id %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
