<%= stylesheet_link_tag    "table", :media => "all" %>
<h1>Listing standard resources</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Parent</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @standard_resources.each do |standard_resource| %>
  <tr>
    <td><%= standard_resource.name %></td>
    <td><%= standard_resource.description %></td>
    <td><%= standard_resource.parent_id %></td>
    <td><%= standard_resource.category %></td>
    <td><%= link_to 'Show', standard_resource %></td>
    <td><%= link_to 'Edit', edit_standard_resource_path(standard_resource) %></td>
    <td><%= link_to 'Destroy', standard_resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Standard resource', new_standard_resource_path %>
