<p>
  <b>Name:</b>
  <%= @standard_resource.name %>
</p>

<p>
  <b>Description:</b>
  <%= @standard_resource.description %>
</p>

<p>
  <b>Parent:</b>
  <%= @standard_resource.parent_id %>
</p>

<p>
  <b>Category:</b>
  <%= @standard_resource.category %>
</p>


<%= link_to 'Edit', edit_standard_resource_path(@standard_resource) %> |
<%= link_to 'Back', standard_resources_path %>
