<% @project_monitor =@sim_model.project_monitors.build if  @project_monitor == nil%>
<%= form_for([@sim_model,@project_monitor]) do |f| %>
  <% if @project_monitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_monitor.errors.count, "error") %> prohibited this project_monitor from being saved:</h2>

      <ul>
      <% @project_monitor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
