<%= stylesheet_link_tag    "table", :media => "all" %>
<h3>Listing project monitors</h3>
<%= link_to image_tag("icons/plus.png", :border => 0) + t("New Project monitor"), new_sim_model_project_monitor_path %>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @project_monitors.each do |project_monitor| %>
  <tr>   
    <td><%= project_monitor.name %></td>    
    <td><%= link_to 'Show', "project_monitors/#{project_monitor.id}" %></td>
    <td><%= link_to 'Edit', "project_monitors/#{project_monitor.id}/edit" %></td>
    <td><%= link_to 'Destroy', "project_monitors/#{project_monitor.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


<%= link_to 'Back to simulation model:' + @sim_model.name, sim_model_path(@sim_model) %>
