<p id="notice"><%= notice %></p>
<p>
  <b>Sim model:</b>
  <%= @project_monitor.sim_model.name %>
</p>
<p>
  <b>Name:</b>
  <%= @project_monitor.name %>
</p>

<% @component =@project_monitor %>
<%= render "shared/image_player" %>

<%= link_to 'Edit', edit_sim_model_project_monitor_path(@project_monitor) if not @project_monitor.sim_model.readonly? %> |
<%= link_to 'Back', sim_model_project_monitors_path %>
