<!-- Probably move the stylesheet to you layout. Also make sure you include the javascript. -->
<%= stylesheet_link_tag "event_calendar" %>
<%= javascript_include_tag "event_calendar" , :media => "all" %>
<%= javascript_include_tag "img_as_tooltip" , :media => "all" %>
<h3>Simulation events by day</h3>
<%= raw(event_calendar) %>
