<%= stylesheet_link_tag    "sim_resources", :media => "all" %>
<%= javascript_include_tag "jquery-ui-timepicker-addon" , :media => "all" %>
<%= javascript_include_tag "datetime_picker" , :media => "all" %>

<% @sim_resource =@resource_pool.sim_resources.build if  @sim_resource == nil%>
<%= form_for([@resource_pool.sim_model,@resource_pool,@sim_resource]) do |f| %>
  <% if @sim_resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sim_resource.errors.count, "error") %> prohibited this sim_resource from being saved:</h2>

      <ul>
      <% @sim_resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :resource_class %><br />    
    <%= select( "res_class", "name", @standard_resources.map {|u| [u.name,u.id]}) %>
  </div>
  <div class="field">
    <%= f.label :resource_capacity %><br />
    <%= f.number_field :res_num %>
  </div>
  <div class="field">
    <%= f.label :delivery_time %><br />
    <%= f.text_field :delivery_time %>
  </div>
    <%= javascript_tag do%>
  		window.MinDate="<%=j "1980-01-01 00:00" %>";
  		window.MaxDate="<%=j "2030-01-01 00:00" %>";  
  <% end %>
  <div class="field">
    <%= f.label :delivery_date %><br />    
    <%= f.text_field :delivery_date ,:class => "datetimepicker_resources" %>  
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>