<%= stylesheet_link_tag    "table", :media => "all" %>
<h3>Listing resources</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Resource class</th>
    <th>Resource number</th>
    <th>Delivery time</th>
    <th>Delivery date</th>    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sim_resources.each do |sim_resource| %>
  <tr>
    <td><%= sim_resource.name %></td>
    <td><%= sim_resource.res_class %></td>
    <td><%= sim_resource.res_num %></td>
    <td><%= sim_resource.delivery_time %></td>
    <td><%= sim_resource.delivery_date %></td>    
    <td><%= link_to 'Show', sim_resource %></td>
    <td><%= link_to 'Edit', edit_sim_resource_path(sim_resource) %></td>
    <td><%= link_to 'Destroy', sim_resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sim resource', new_sim_resource_path %>
