<h2>Simulation model:<%= @sim_resource.sim_model.name %></h2> 
<p>
  <b>Name:</b>
  <%= @sim_resource.name %>
</p>

<p>
  <b>Res class:</b>
  <%= @sim_resource.res_class %>
</p>

<p>
  <b>Res num:</b>
  <%= @sim_resource.res_num %>
</p>

<p>
  <b>Delivery time:</b>
  <%= @sim_resource.delivery_time %>
</p>

<p>
  <b>Delivery date:</b>
  <%= @sim_resource.delivery_date %>
</p>

<p>
  <b>Sim model:</b>
  <%= @sim_resource.sim_model_id %>
</p>


<%= link_to 'Edit', edit_sim_resource_path(@sim_resource) %> |
<%= link_to 'Back', sim_resources_path %>
