<%= stylesheet_link_tag    "tasks", :media => "all" %>
<%= javascript_include_tag "tasks" , :media => "all" %>
<%= javascript_include_tag "jquery-ui-timepicker-addon" , :media => "all" %>
<%= javascript_include_tag "datetime_picker" , :media => "all" %>
<% @task =@task_list.tasks.build if  @task == nil%>
<%= form_for([@task_list.sim_model,@task_list,@task]) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  
  <div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
  </div>
  
  
  <div class="field">  	
    <%= f.label :start_time %><br />
    <%= f.text_field :start_time %>
  </div>  
  
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.text_field :start_date ,:class => "datetimepicker_tasklist" %>  
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.text_field :end_date ,:class => "datetimepicker_tasklist" %>  
  </div>
  
  
  
  
  
  <div class="field">
    <%= f.label "Number of task instances" %><br />
    <%= f.number_field :task_numOfInstances%>
  </div>
  <div class="actions">
   <%= f.submit %>
  </div>
<% end %>
