<%= stylesheet_link_tag    "table", :media => "all" %>
<h3>Editing task</h3>
<%= render 'form' %>
<ul class="task_attribute_list">
<%= render 'task_attributes/task_attribute_list' %>
</ul>
<%= form_for @task_attribute, :remote => true do |f| %>
     <%= f.hidden_field :task_id, :value => @task.id %>
	 Attribute Name:
     <%= f.text_field  :AttName, :class => "att_name" %>
	 Value:
	 <%= f.text_field  :AttValue, :class => "att_value" %>
     <%= f.submit :value => "Add Attribute" %>
<% end %>


<%= link_to 'Back', sim_model_task_list_tasks_path %>
