<%= stylesheet_link_tag    "table", :media => "all" %>
<%= stylesheet_link_tag    "tasks", :media => "all" %>
<script type='text/javascript'>
function dispHandle(obj) 
{
if (obj.style.display == "none")
obj.style.display = "";
else
obj.style.display = "none";
}
</script>
<h1>Listing tasks</h1>
<%= link_to image_tag("icons/plus.png", :border => 0) + t("new task"), new_sim_model_task_list_task_path %>
<table width="90%">
  <tr>
  	<th>ID</th>
  	<th>Task name</th>
    <th>Start time/date</th>
    <th>End date</th>
	<th>Attributes</th>
  </tr>
<% @tasks.each do |task| %>
  <tr>
  	<td><%= task.id %></td>  	
  	<td><b><%= task.ProcessPool %>.<%= task.name %></b>
    (<%= link_to 'Edit', "tasks/#{task.id}/edit" %> | 
    	<%= link_to 'Delete', "tasks/#{task.id}", method: :delete, data: { confirm: 'Are you sure?' } %>)
    </td>
    <td >Time:<%= task.start_time %><br/>Date:<%= task.start_date %></td>
    <td >Date:<%= task.end_date %></td>
    <td>

	<a href='#atts<%= task.id %>' onclick="dispHandle(atts_<%= task.id %>);">+</a>
	<div id="atts_<%= task.id %>" style="display: ;">
	<table width="95%">
	<% @task_attributes =task.task_attributes %>
	<% @task_attributes.each do |att| %>
		<% if att.AttName == "ProzessPool" %>
		<% att.AttValue = att.AttValue[att.AttValue.index("ProzessPool.")+12..att.AttValue.size] if att.AttValue.size > 12 %>
			<% if task.ProcessPool.to_s == ""%>	
				<% task.ProcessPool =att.AttValue%>
				<% task.save!%>
			<% end %>
		<% end %>
		<% if att.AttName != "LV_QTO" and  att.AttName != "globalIds"%>		
		<% if att.AttName == "VorgängerListe"  %>
			<%  att.AttValue = att.AttValue[att.AttValue.upcase.index("ProzessPool".upcase) + 12..att.AttValue.size]%>
		<% end %>			
		<tr>
			<td><%= att.AttName %></td>
			<td><%= att.AttValue.html_safe %></td>
			<td><%= link_to 'Edit', edit_task_attribute_path(att) %> |<%= link_to 'Delete', att,method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% end %>
	<% end %>	
	</table>	
	</div>	
	</td>
  </tr>
  <% end %>		
</table>

<br />

<%= link_to 'New Task', new_sim_model_task_list_task_path %>
