<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Start time:</b>
  <%= @task.start_time %>
</p>

<p>
  <b>Start date:</b>
  <%= @task.start_date %>
</p>

<p>
  <b>Task numofinstances:</b>
  <%= @task.task_numOfInstances %>
</p>
<%= link_to 'Edit', edit_sim_model_task_list_task_path(@task) %> |
<%= link_to 'Back', sim_model_task_list_tasks_path %>