<% @mm_content=@primary_model.mm_contents.build if @mm_content == nil %>
<%= form_for([@primary_model.multi_model_container,@primary_model,@mm_content]) do |f| %>
  <% if @mm_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mm_content.errors.count, "error") %> prohibited this mm_content from being saved:</h2>

      <ul>
      <% @mm_content.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :format %><br />
    <%= f.text_field :format %>
  </div>
  <div class="field">
    <%= f.label :contentid %><br />
    <%= f.text_field :contentid %>
  </div>
  <div class="field">
    <%= f.label :formatVersion %><br />
    <%= f.text_field :formatVersion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
