<h1>Editing content</h1>

<%= render 'form' %>

<%= link_to 'Show', multi_model_container_primary_model_mm_content_path(@mm_content) %> |
<%= link_to 'Back', multi_model_container_primary_model_mm_contents_path %>
