<%= stylesheet_link_tag    "table", :media => "all" %>
<h2>MMC:<%= link_to @primary_model.multi_model_container.name, @primary_model.multi_model_container %>>></h2>
 <%= @primary_model.modelid + "(" + @primary_model.modelType + ")" %>
<h3>Listing contents</h3>
<table>
  <tr>
    <th>Format</th>
    <th>Contentid</th>
    <th>Formatversion</th>        
  </tr>
<% @mm_contents.each do |mm_content| %>
  <tr>
    <td><%= mm_content.format %></td>
    <td><%= mm_content.contentid %></td>
    <td><%= mm_content.formatVersion %></td>   

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New content', new_multi_model_container_primary_model_mm_content_path %>
