<h1>New content for:</h1>
<h2>Multi Model: <%= link_to @primary_model.multi_model_container.name,@primary_model.multi_model_container %></h2>
<h3>Primary Model: <%= link_to @primary_model.modelid,"/multi_model_containers/#{@primary_model.multi_model_container.id}/primary_models/#{@primary_model.id}" %><%= "(" + @primary_model.modelType + ")" %></h3>
<%= render 'form' %>

<%= link_to 'Back', multi_model_container_primary_model_mm_contents_path %>
