<%= stylesheet_link_tag    "table", :media => "all" %>
<p>
  <b>Content id:</b>
  <%= @mm_content.contentid %>
</p>

<p>
  <b>Format:</b>
  <%= @mm_content.format %>

  <b>Format version:</b>
  <%= @mm_content.formatVersion %>
</p>
<h3>Listing files in this content</h3>

<%= link_to 'Add new file', "#{@mm_content.id}/mm_files/new"%><br /><br />
<table>
  <tr>
    <th>Namespace</th>
    <th>File</th>    
  </tr>

<% @mm_content.mm_files.each do |mm_file| %>
  <tr>
    <td><%= mm_file.namespace %></td>
    <td><%= mm_file.file %></td>    
  </tr>
<% end %>
</table>




<%= link_to 'Edit', edit_multi_model_container_primary_model_mm_content_path(@mm_content) %> |
<%= link_to 'Back', multi_model_container_primary_model_mm_contents_path %>
