<%= form_for(@sim_model) do |f| %>
  <% if @sim_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sim_model.errors.count, "error") %> prohibited this sim_model from being saved:</h2>

      <ul>
      <% @sim_model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :model_tree_path %><br />
    <%= f.text_field :model_tree_path %>
  </div>
  <div class="field">
    <%= f.label :results_url %><br />
    <%= f.text_field :results_url %>
  </div>
    <div class="field">
    <%= f.label :bim_url %><br />
    <%= f.text_field :bim_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
