<%= stylesheet_link_tag    "table", :media => "all" %>
<%= stylesheet_link_tag    "sim_models", :media => "all" %>
<p>
  <b>Name:</b>
  <%= @sim_model.name %>
</p>
<div class="description"><%= @sim_model.description %></div>
<h2>Simulation szenarios</h2>
<table>
  <tr>
    <th>Szenario</th>
    <th>Description</th>    
    <th>Results</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @sim_model.sim_szenarios.each do |sim_szenario| %>
  <tr>
    <td><%= sim_szenario.name %></td>
    <td><%= sim_szenario.description.html_safe %></td>  
    <td><%= link_to 'Results', "#{sim_szenario.sim_model.id}/sim_szenarios/#{sim_szenario.id}/sim_results" %></td>  
    <td><%= link_to 'Show', "#{sim_szenario.sim_model.id}/sim_szenarios/#{sim_szenario.id}" %></td>
    <td><%= link_to 'Edit', "#{sim_szenario.sim_model.id}/sim_szenarios/#{sim_szenario.id}/edit" %></td>
    <td><%= link_to 'Destroy', "#{sim_szenario.sim_model.id}/sim_szenarios/#{sim_szenario.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<div style="float:left;padding: 3px">
	<h3><%= t("Inputs") %></h3>
<div style="float: left;padding: 3px">
<%= link_to  image_tag("icons/TasksList.png", :border => 0) + raw("<br/>") + t("Task lists"), sim_model_task_lists_path(@sim_model), {:class => 'dock-item'} %>	
</div>

<div style="float: left;padding: 3px">
<%= link_to  image_tag("icons/ProcessCatalog.png", :border => 0) + raw("<br/>") + t("Process catalog"), {:action => 'index', :controller => 'rpms'}, {:class => 'dock-item'} %>	
</div>

<div style="float: left;padding: 3px">
<%= link_to  image_tag("icons/ResourcePool.png", :border => 0) + raw("<br/>") + t("Resource pool"), sim_model_resource_pools_path(@sim_model), {:class => 'dock-item'} %>	
</div>

<% if @sim_model.multi_model_container_id != nil %>
<div style="float: left;padding: 3px">
<%= link_to  image_tag("icons/MMC.png", :border => 0) + raw("<br/>") + "Mefisto MMC", "/multi_model_containers/#{@sim_model.multi_model_container_id}", {:class => 'dock-item'} %>	
</div>
<% end %>

<div style="float: left;padding: 3px">
<%= link_to  image_tag("icons/ProductivityFactors.png", :border => 0) + raw("<br/>") + t("Productivity coeff"), "http://bci52.cib.bau.tu-dresden.de:3001/sim/aufwandswerte.php", {:class => 'dock-item'} %>	
</div>

<div style="float: left;padding: 3px">
<%= link_to  image_tag("icons/ConstructionSite.png", :border => 0) + raw("<br/>") + t("Construction site"), {:action => 'index', :controller => 'welcome'}, {:class => 'dock-item'} %>	
</div>


</div>
<div style="clear:both">
<h3><%= t("Outputs") %></h3>
<div style="float:left;padding: 3px">
<%= link_to  image_tag("icons/GanntChart.png", :border => 0) + raw("<br/>") + "Gannt Charts", sim_model_gannt_charts_path(@sim_model), {:class => 'dock-item'}%> 
</div>

<div style="float:left;padding: 3px">
<%= link_to  image_tag("icons/ProjectMonitor.png", :border => 0) + raw("<br/>") + "Project monitors", sim_model_project_monitors_path(@sim_model), {:class => 'dock-item'}%> 
</div>
<div style="float:left;padding: 3px">
<%= link_to  image_tag("icons/ProcessPool.png", :border => 0) + raw("<br/>") + t("Process pool"), sim_model_process_pools_path(@sim_model), {:class => 'dock-item'} %>	
</div>
<div style="float:left;padding: 3px">
<%= link_to  image_tag("icons/4DVisulazier.png", :border => 0) + raw("<br/>") + "4D Visualization", {:action => 'index', :controller => 'welcome'}, {:class => 'dock-item'} %>
</div>
<div style="float:left;padding: 3px">
<%= link_to  image_tag("icons/DrawPanel.png", :border => 0) + raw("<br/>") + "Drawing panels",sim_model_draw_panels_path(@sim_model) , {:class => 'dock-item'} %>	

</div>
<div style="float:left;padding: 3px">
<%= link_to  image_tag("icons/viz.png", :border => 0) + raw("<br/>") + "Data Visualization", {:action => 'index', :controller => 'welcome'}, {:class => 'dock-item'} %>
</div>
<div style="float:left;padding: 3px">
<%= link_to  image_tag("icons/Verification.png", :border => 0) + raw("<br/>") + t("Verification"), {:action => 'index', :controller => 'sim_events'}, {:class => 'dock-item'} %>	
</div>
<div style="float:left;padding: 3px">
<%= link_to  image_tag("icons/calendar.png", :border => 0)  + raw("<br/>") + t("Calendar"), {:action => 'index', :controller => 'calendar'}, {:class => 'dock-item'} %>	
</div>
</div>
<div style="clear:both">
<hr>
<h3><%= t("Settings") %></h3>
<div style="float:left;padding: 10px">
<%= link_to  image_tag("icons/colors.png", :border => 0)  + t("Colors"), {:action => 'index', :controller => 'standard_colors'}, {:class => 'dock-item'} %>	
</div>

<div style="float:left;padding: 10px">
<%= link_to  image_tag("icons/Filter.png", :border => 0)  + "BIM filters", {:action => 'index', :controller => 'bim_filters'}, {:class => 'dock-item'} %>	
</div>
<div style="float:left;padding: 10px">
<%= link_to  image_tag("icons/Properties.png", :border => 0)  + "Object Attributes", {:action => 'index', :controller => 'attributs'}, {:class => 'dock-item'} %>	
</div>
</div>
<%= link_to 'Edit', edit_sim_model_path(@sim_model) %> |
<%= link_to 'Back', sim_models_path %>
