<%= stylesheet_link_tag    "sim_models", :media => "all" %>
<h2>Simulation models</h2>
<% @sim_models.each do |sim_model| %>
  	<h3><%= sim_model.name %></h3>
    <div class="description"><%= sim_model.description.html_safe %></div>
    <b>Owner</b>:<%= sim_model.user.name %>(<%= sim_model.user.email %>)<br /><br />	
	<%= link_to image_tag( "/MMCs/" +  sim_model.name + ".png", :border => 0), sim_model %><br />
    <div class="description">    	   
    <%= link_to 'Open', sim_model %>
    <%= link_to 'Edit', edit_sim_model_path(sim_model) %>
    <%= link_to 'Remove', sim_model, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <hr />
<% end %>
<%= link_to 'New Sim model', new_sim_model_path %>
