<%= stylesheet_link_tag    "table", :media => "all" %>
<%= stylesheet_link_tag    "sim_models", :media => "all" %>
<p>
  <b>Name:</b>
<h2><%= @sim_model.name %></h2>
<%= link_to 'Edit', edit_sim_model_path(@sim_model)   if current_user.name == "Ali Ismail" %> |
<%= link_to 'Back', sim_models_path %>
</p>
<div class="description"><%= @sim_model.description.html_safe %></div>
<h2>Simulation szenarios</h2>
<table>
  <tr>
    <th>Szenario</th>
    <th>Description</th>    
    <th>Results</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>  
<% @sim_model.sim_szenarios.each do |sim_szenario| %>
  <tr>
    <td><%= sim_szenario.name %></td>
    <td><%= sim_szenario.description.html_safe %></td>  
    <td><%= link_to 'Results', "#{sim_szenario.sim_model.id}/sim_szenarios/#{sim_szenario.id}/sim_results" %></td>  
    <td><%= link_to 'Show', "#{sim_szenario.sim_model.id}/sim_szenarios/#{sim_szenario.id}" %></td>
    <td><%= link_to 'Edit', "#{sim_szenario.sim_model.id}/sim_szenarios/#{sim_szenario.id}/edit" if not @sim_model.readonly? %></td>
    <td><%= link_to 'Destroy', "#{sim_szenario.sim_model.id}/sim_szenarios/#{sim_szenario.id}", method: :delete, data: { confirm: 'Are you sure?' } if not @sim_model.readonly?%></td>
  </tr>
<% end %>
</table>
<div style="float:left;padding: 3px">
	<h3><%= t("Inputs") %></h3>
<% if @sim_model.multi_model_container_id != nil %>	
<div style="float: left;padding: 3px">
<%= link_to  image_tag("icons/BIM_data.png", :border => 0) + raw("<br/>") + t("BIM models"), "/multi_model_containers/#{@sim_model.multi_model_container_id}/primary_models/object", {:class => 'dock-item'} %>	
</div>	
<% end %>
<div style="float: left;padding: 3px">
<%= link_to  image_tag("icons/TasksList.png", :border => 0) + raw("<br/>") + t("Task lists"), sim_model_task_lists_path(@sim_model), {:class => 'dock-item'} %>	
</div>

<div style="float: left;padding: 3px">
<%= link_to  image_tag("icons/ResourcePool.png", :border => 0) + raw("<br/>") + t("Resource pool"), sim_model_resource_pools_path(@sim_model), {:class => 'dock-item'} %>	
</div>

<% if @sim_model.multi_model_container_id != nil %>
<div style="float: left;padding: 3px">
<%= link_to  image_tag("icons/MMC.png", :border => 0) + raw("<br/>") + "Mefisto MMC", "/multi_model_containers/#{@sim_model.multi_model_container_id}", {:class => 'dock-item'} %>	
</div>
<% end %>


<div style="float: left;padding: 3px">
<%= link_to  image_tag("icons/ConstructionSite.png", :border => 0) + raw("<br/>") + "Construction Site", "/sim_models/#{@sim_model.id}/construction_sites", {:class => 'dock-item'} %>	
</div>


<div style="float: left;padding: 3px">
<%= link_to  image_tag("icons/ProductivityFactors.png", :border => 0) + raw("<br/>") + t("Productivity coeff"), aws_path, {:class => 'dock-item'} %>	
</div>


</div>
<div style="clear:both">
<h3><%= t("Outputs") %></h3>
<div style="float:left;padding: 3px">
<%= link_to  image_tag("icons/GanntChart.png", :border => 0) + raw("<br/>") + "Gannt Charts", sim_model_gannt_charts_path(@sim_model), {:class => 'dock-item'}%> 
</div>
<div style="float:left;padding: 3px">
<%= link_to  image_tag("icons/ProjectMonitor.png", :border => 0) + raw("<br/>") + "Project monitors", sim_model_project_monitors_path(@sim_model), {:class => 'dock-item'}%> 
</div>
<div style="float:left;padding: 3px">
<%= link_to  image_tag("icons/DrawPanel.png", :border => 0) + raw("<br/>") + "Drawing panels",sim_model_draw_panels_path(@sim_model) , {:class => 'dock-item'} %>	

</div>
<div style="float:left;padding: 3px">
<%= link_to  image_tag("icons/Verification.png", :border => 0) + raw("<br/>") + t("Verification"), {:action => 'index', :controller => 'sim_events'}, {:class => 'dock-item'} %>	
</div>
<div style="float:left;padding: 3px">
<%= link_to  image_tag("icons/calendar.png", :border => 0)  + raw("<br/>") + t("Calendar"), "/calendar/2013/3", {:class => 'dock-item'} %>	
</div>
</div>
<div style="clear:both">
<hr>
<h3><%= t("Settings") %></h3>

<div style="float:left;padding: 10px">
<%= link_to  image_tag("icons/aws.png", :border => 0)  + "<br>".html_safe +  t("Aufwandswerte"), {:action => 'index', :controller => 'aws'}, {:class => 'dock-item'} %>
<br /><%= link_to  t("Standard Leistungspositionen"), {:action => 'index', :controller => 'lv_items'}, {:class => 'dock-item'} %> 	
</div>

<div style="float:left;padding: 10px">
<%= link_to  image_tag("icons/rpms.png", :border => 0), {:action => 'index', :controller => 'rpms'}, {:class => 'dock-item'} %>	
</div>

<div style="float:left;padding: 10px">
<%= link_to  image_tag("icons/colors.png", :border => 0)  + "<br>".html_safe + t("Colors"), {:action => 'index', :controller => 'standard_colors'}, {:class => 'dock-item'} %>	
</div>
</div>