<%= form_for(@rpm) do |f| %>
  <% if @rpm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rpm.errors.count, "error") %> prohibited this rpm from being saved:</h2>

      <ul>
      <% @rpm.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />    
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :tree_path %><br />
    <%= f.text_field :tree_path %>
  </div>
  <div class="field">
    <%= f.label :bpmn_path %><br />
    <%= f.text_field :bpmn_path %>
  </div>
  <div class="field">
    <%= f.label :img_path %><br />
    <%= f.text_field :img_path %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>