<%= stylesheet_link_tag    "table", :media => "all" %>
<h2>Listing BPMN Reference Process Models (RPMs)</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>        
    <th>Preview</th>
    <th>Owner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @rpms.each do |rpm| %>
  <tr>
    <td><%= rpm.name %></td>
    <td><%= rpm.description.html_safe %></td>        
    <td><%= image_tag("/RPMs" + "/" + rpm.img_path, :width => "400") %></td>
    <td><%= rpm.user.name %></td>
    <td><%= link_to 'Show', rpm %></td>
    <td><%= link_to 'Edit', edit_rpm_path(rpm) %></td>
    <td><%= link_to 'Destroy', rpm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br/>
<%= link_to 'Register a new reference process model', new_rpm_path %>