<p>
  <b>Name:</b>
  <%= @rpm.name %>
</p>
<p>
  <b>Description:</b>
  <%= @rpm.description.html_safe %>
</p>
<p>
  <b>Process template path:</b>
  <%= @rpm.tree_path %>
</p>
<p>
  <b>BPMN model path:</b>
  <%= link_to @rpm.bpmn_path ,@rpm.bpmn_path %>
</p>
<p>
  <%= image_tag("/RPMs" + "/" + @rpm.img_path) %>
</p>
<%= link_to 'Edit', edit_rpm_path(@rpm) %> |
<%= link_to 'Back', rpms_path %>
