<%= form_for(@bim_filter) do |f| %>
  <% if @bim_filter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bim_filter.errors.count, "error") %> prohibited this bim_filter from being saved:</h2>

      <ul>
      <% @bim_filter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :sql %><br />
    <%= f.text_field :sql %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
