<%= stylesheet_link_tag    "table", :media => "all" %>
<h3>BIM Filters</h3>

<table>
  <tr>
    <th>Name</th>
    <th>SQL</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bim_filters.each do |bim_filter| %>
  <tr>
    <td><%= bim_filter.name %></td>
    <td><%= bim_filter.sql %></td>
    <td><%= link_to 'Show', bim_filter %></td>
    <td><%= link_to 'Edit', edit_bim_filter_path(bim_filter) %></td>
    <td><%= link_to 'Destroy', bim_filter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bim filter', new_bim_filter_path %>
