<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @bim_filter.name %>
</p>

<p>
  <b>Sql:</b>
  <%= @bim_filter.sql %>
</p>


<%= link_to 'Edit', edit_bim_filter_path(@bim_filter) %> |
<%= link_to 'Back', bim_filters_path %>
