<%= form_for(@process_pool) do |f| %>
  <% if @process_pool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@process_pool.errors.count, "error") %> prohibited this process_pool from being saved:</h2>

      <ul>
      <% @process_pool.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sim_model_id %><br />
    <%= f.number_field :sim_model_id %>
  </div>
  <div class="field">
    <%= f.label :orgchart %><br />
    <%= f.text_area :orgchart %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
