<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<% @process_pools.each do |process_pool| %>  
	<p><b>Simulation model</b>:<%= process_pool.sim_model.name %></p>

	<%= link_to 'Edit', edit_sim_model_process_pool_path(:id => process_pool.id,:sim_model_id => process_pool.sim_model.id) %>
   <div id='chart_div_<%= process_pool.sim_model_id %>'></div>  
   <script type='text/javascript'>
      google.load('visualization', '1', {packages:['orgchart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(<%= process_pool.orgchart.html_safe %>);
        var chart = new google.visualization.OrgChart(document.getElementById('chart_div_<%= process_pool.sim_model_id %>'));
         // data.setRowProperty(0, 'style', 'border: 3px solid blue;color:red');
        chart.draw(data, {allowHtml:true, allowCollapse:true,size:'small'});
      }
    </script>
    <hr />
       
<% end %>
<%= link_to 'New Process pool', new_sim_model_process_pool_path %>