<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<p>
  <b>Sim model:</b>
  <%= @process_pool.sim_model.name %>
</p>     
   <div id='chart_div_<%= @process_pool.sim_model_id %>'></div>  
   <script type='text/javascript'>
      google.load('visualization', '1', {packages:['orgchart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(<%= @process_pool.orgchart.html_safe %>);
        var chart = new google.visualization.OrgChart(document.getElementById('chart_div_<%= @process_pool.sim_model_id %>'));         
        chart.draw(data, {allowHtml:true, allowCollapse:true,size:'big'});
      }
    </script>
    <hr />   

<%= link_to 'Edit', edit_sim_model_process_pool_path(@process_pool) %> |
<%= link_to 'Back', sim_model_process_pools_path %>
