<% @construction_site =@sim_model.construction_sites.build if  @construction_site == nil%>
<%= form_for([@sim_model,@construction_site]) do |f| %>
  <% if @construction_site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@construction_site.errors.count, "error") %> prohibited this construction_site from being saved:</h2>

      <ul>
      <% @construction_site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sim_model %><br />
    <%= f.text_field :sim_model_id %>
  </div>
  <div class="field">
    <%= f.label :task_list %><br />
    <%= f.text_field :task_list_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
