<h1>Listing construction sites</h1>
<table>
  <tr>
    <th>Sim model</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @construction_sites.each do |construction_site| %>
  <tr>
    <td><%= construction_site.sim_model.name %></td>
    <td><%= link_to 'Show', "construction_sites/#{construction_site.id}" %></td>
    <td><%= link_to 'Edit', "construction_sites/#{construction_site.id}/edit" %></td>
    <td><%= link_to 'Destroy', "construction_sites/#{construction_site.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


