<%= link_to 'Edit', edit_sim_model_construction_site_path(@construction_site) %> |
<%= link_to 'Back', sim_model_construction_sites_path %>
<p>
  <b>Sim model:</b>
  <%= @construction_site.sim_model.name %>

<% if @construction_site.task_list != nil  %>
<p>
  <b>Task list:</b>
  <%= @construction_site.task_list.name %>
</p>
<% end %>

<p>
<%= link_to image_tag("icons/kran.png", :border => 0) +  "<br/>Tower cranes".html_safe ,"/sim_models/#{@sim_model.id}/resource_pools/#{@sim_model.resource_pools.first.id}/tower_cranes" %>
</p>
<p>
<%= link_to image_tag("icons/lager.png", :border => 0) +  "<br/>Storage yards[TODO]".html_safe ,"/sim_models/#{@sim_model.id}/resource_pools/#{@sim_model.resource_pools.first.id}/" %>
</p>

<p>
<%= link_to image_tag("icons/street.png", :border => 0) +  "<br/>Transport ways[TODO]".html_safe ,"/sim_models/#{@sim_model.id}/resource_pools/#{@sim_model.resource_pools.first.id}/" %>
</p>
<p>
<%= link_to image_tag("icons/ladezone.png", :border => 0) +  "<br/>Loading areas[TODO]".html_safe ,"/sim_models/#{@sim_model.id}/resource_pools/#{@sim_model.resource_pools.first.id}/" %>
</p>