<% @resource_pool =@sim_model.resource_pools.build if  @resource_pool == nil%>
<%= form_for([@sim_model,@resource_pool]) do |f| %>
  <% if @resource_pool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource_pool.errors.count, "error") %> prohibited this resource_pool from being saved:</h2>

      <ul>
      <% @resource_pool.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>