<%= stylesheet_link_tag    "table", :media => "all" %>
<h3>Listing resource pools</h3>
<%= link_to image_tag("icons/plus.png", :border => 0) + t("New resource pool"), new_sim_model_resource_pool_path %>
<table>
  <tr>
    <th>Name</th>    
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @resource_pools.each do |resource_pool| %>
  <tr>
    <td><%= resource_pool.name %></td>
    <td><%= link_to 'Show', "resource_pools/#{resource_pool.id}" %></td>
    <td><%= link_to 'Edit', "resource_pools/#{resource_pool.id}/edit" %></td>
    <td><%= link_to 'Destroy', "resource_pools/#{resource_pool.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'Back to simulation model:' + @sim_model.name, sim_model_path(@sim_model) %>