<%= stylesheet_link_tag    "table", :media => "all" %>
<%= stylesheet_link_tag    "resource_pools", :media => "all" %>

Links: <%= link_to image_tag("icons/kran.png", :border => 0) +  "<br/>Tower cranes".html_safe ,"/sim_models/#{@resource_pool.sim_model.id}/resource_pools/#{@resource_pool.id}/tower_cranes" %>
<p>
  <b>Sim model:</b>
  <%= @resource_pool.sim_model.name %>
</p>
<p>
  <b>Name:</b>
  <%= @resource_pool.name %>
</p>
<%= link_to image_tag("icons/plus.png", :border => 0) + t("New Sim resource"), "/sim_models/#{@resource_pool.sim_model.id}/resource_pools/#{@resource_pool.id}/sim_resources/new" if not @resource_pool.sim_model.readonly? %>
<table>
  <tr>
    <th>Resource Name</th>
    <th>Resource class</th>
    <th>Resource amount</th>
    <th>Delivery time</th>
    <th>Delivery date</th>  
  </tr>
<% @resource_pool.sim_resources.each do |sim_resource| %>
  <tr>
    <td><%= sim_resource.name %></td>
    <td><%= sim_resource.res_class %></td>
    <td><%= sim_resource.res_num %></td>
    <td><%= sim_resource.delivery_time %></td>
    <td><%= sim_resource.delivery_date %></td>
  </tr>
<% end %>
</table>
<%= link_to 'Edit', "/sim_models/#{@resource_pool.sim_model.id}/resource_pools/#{@resource_pool.id}/edit" if not @resource_pool.sim_model.readonly? %> |
<%= link_to 'Back', sim_model_resource_pools_path %>