<% @tower_crane =@resource_pool.tower_cranes.build if  @tower_crane == nil%>
<%= form_for([@resource_pool.sim_model,@resource_pool,@tower_crane]) do |f| %>
  <% if @tower_crane.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tower_crane.errors.count, "error") %> prohibited this tower_crane from being saved:</h2>

      <ul>
      <% @tower_crane.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :craneModel %><br />
    <%= f.text_field :craneModel %>
  </div>
  <div class="field">
    <%= f.label :rotation_speed %><br />
    <%= f.text_field :rotation_speed %>
  </div>
  <div class="field">
    <%= f.label :trolly_speed %><br />
    <%= f.text_field :trolly_speed %>
  </div>
  <div class="field">
    <%= f.label :z_speed %><br />
    <%= f.text_field :z_speed %>
  </div>
  <div class="field">
    <%= f.label :draw_layer %><br />
    <%= f.number_field :draw_layer %>
  </div>
  <div class="field">
    <%= f.label :resource_pool %><br />
    <%= f.text_field :resource_pool %>
  </div>
  <div class="field">
    <%= f.label :obj_class %><br />
    <%= f.text_field :obj_class %>
  </div>
  <div class="field">
    <%= f.label :sim_obj_path %><br />
    <%= f.text_field :sim_obj_path %>
  </div>
  <div class="field">
    <%= f.label :xPos %><br />
    <%= f.text_field :xPos %>
  </div>
  <div class="field">
    <%= f.label :yPos %><br />
    <%= f.text_field :yPos %>
  </div>
  <div class="field">
    <%= f.label :raduis %><br />
    <%= f.text_field :raduis %>
  </div>
  <div class="field">
    <%= f.label :height %><br />
    <%= f.text_field :height %>
  </div>
  <div class="field">
    <%= f.label :baseWidth %><br />
    <%= f.text_field :baseWidth %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
