<%= stylesheet_link_tag    "table", :media => "all" %>
<h3>Listing tower cranes</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Crane model</th>
    <th>Xpos</th>
    <th>Ypos</th>
    <th>Raduis</th>
    <th>Height</th>
    <th>Base width</th>
  </tr>

<% @tower_cranes.each do |tower_crane| %>
  <tr>
    <td><%= tower_crane.name %></td>
    <td><%= tower_crane.craneModel %></td>
    <td><%= tower_crane.xPos %></td>
    <td><%= tower_crane.yPos %></td>
    <td><%= tower_crane.raduis %></td>
    <td><%= tower_crane.height %></td>
    <td><%= tower_crane.baseWidth %></td>    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add new Tower crane', new_sim_model_resource_pool_tower_crane_path if not @tower_cranes.first.resource_pool.sim_model.readonly?%>
