<p>
  <b>Name:</b>
  <%= @tower_crane.name %>
</p>

<p>
  <b>Cranemodel:</b>
  <%= @tower_crane.craneModel %>
</p>

<p>
  <b>Rotation speed:</b>
  <%= @tower_crane.rotation_speed %>
</p>

<p>
  <b>Trolly speed:</b>
  <%= @tower_crane.trolly_speed %>
</p>

<p>
  <b>Z speed:</b>
  <%= @tower_crane.z_speed %>
</p>

<p>
  <b>Draw layer:</b>
  <%= @tower_crane.draw_layer %>
</p>


<p>
  <b>Obj class:</b>
  <%= @tower_crane.obj_class %>
</p>

<p>
  <b>Sim obj path:</b>
  <%= @tower_crane.sim_obj_path %>
</p>

<p>
  <b>Xpos:</b>
  <%= @tower_crane.xPos %>
</p>

<p>
  <b>Ypos:</b>
  <%= @tower_crane.yPos %>
</p>

<p>
  <b>Raduis:</b>
  <%= @tower_crane.raduis %>
</p>

<p>
  <b>Height:</b>
  <%= @tower_crane.height %>
</p>

<p>
  <b>Basewidth:</b>
  <%= @tower_crane.baseWidth %>
</p>

<p>
  <b>Start time:</b>
  <%= @tower_crane.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @tower_crane.end_time %>
</p>

<p>
  <b>Start date:</b>
  <%= @tower_crane.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @tower_crane.end_date %>
</p>