<% @mm_file=@mm_content.mm_files.build if @mm_file == nil %>
<%= form_for([@mm_content.primary_model.multi_model_container,@mm_content.primary_model,@mm_content,@mm_file]) do |f| %>
  <% if @mm_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mm_file.errors.count, "error") %> prohibited this mm_file from being saved:</h2>
      <ul>
      <% @mm_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :namespace %><br />
    <%= f.text_field :namespace %>
  </div>
  <div class="field">
    <%= f.label :file %><br />
    <%= f.text_field :file %>
  </div>
  <div class="actions">
    <%= f.submit%>
  </div>
<% end %>