<%= stylesheet_link_tag    "table", :media => "all" %>
<h2>MMC:<%= link_to @mm_content.primary_model.multi_model_container.name,  @mm_content.primary_model.multi_model_container %>>></h2>
 <%= @mm_content.primary_model.modelid + "(" + @mm_content.primary_model.modelType + ")" %> 
<h1>Listing files</h1>
<table>
  <tr>
    <th>Namespace</th>
    <th>File</th>    
  </tr>

<% @mm_files.each do |mm_file| %>
  <tr>
    <td><%= mm_file.namespace %></td>
    <td><%= mm_file.file %></td>    
  </tr>
<% end %>
</table>
<br />
<%= link_to 'New file', new_multi_model_container_primary_model_mm_content_mm_file_path%>