<h2>Multi Model: <%= link_to @mm_content.primary_model.multi_model_container.name,@mm_content.primary_model.multi_model_container %></h2>
<h3>Primary Model: <%= link_to @mm_content.primary_model.modelid,"/multi_model_containers/#{@mm_content.primary_model.multi_model_container.id}/primary_models/#{@mm_content.primary_model.id}" %><%= "(" + @mm_content.primary_model.modelType + ")" %></h3>
<h4>Content: <%= link_to @mm_content.format,"/multi_model_containers/#{@mm_content.primary_model.multi_model_container.id}/primary_models/#{@mm_content.primary_model.id}/mm_contents/#{@mm_content.id}" %></h4>

<p>Register new file:</p>

<%= render 'form' %>
<%= link_to 'Back', multi_model_container_primary_model_mm_content_mm_files_path %>
