<p>
  <b>Namespace:</b>
  <%= @mm_file.namespace %>
</p>

<p>
  <b>File:</b>
  <%= @mm_file.file %>
</p>

<p>
  <b>Mm content:</b>
  <%= @mm_file.mm_content %>
</p>
<%= link_to 'Edit', edit_multi_model_container_primary_model_mm_content_mm_file_path(@mm_file) %> |
<%= link_to 'Back', multi_model_container_primary_model_mm_content_mm_files_path %>
