<%= stylesheet_link_tag    "user", :media => "all" %>
<h2>Forgot your password?</h2>
<div id='login'>
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit "Send me reset password instructions" %></div>
<% end %>
</div>
<%= render "devise/shared/links" %>
