<%= form_for(@qto_item) do |f| %>
  <% if @qto_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qto_item.errors.count, "error") %> prohibited this qto_item from being saved:</h2>

      <ul>
      <% @qto_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :oz %><br />
    <%= f.text_field :oz %>
  </div>
  <div class="field">
    <%= f.label :ort %><br />
    <%= f.text_field :ort %>
  </div>
  <div class="field">
    <%= f.label :adresse %><br />
    <%= f.text_field :adresse %>
  </div>
  <div class="field">
    <%= f.label :formelnummer %><br />
    <%= f.text_field :formelnummer %>
  </div>
  <div class="field">
    <%= f.label :result %><br />
    <%= f.text_field :result %>
  </div>
  <div class="field">
    <%= f.label :rechenansatz %><br />
    <%= f.text_field :rechenansatz %>
  </div>
  <div class="field">
    <%= f.label :building_element %><br />
    <%= f.text_field :building_element %>
  </div>
  <div class="field">
    <%= f.label :primary_model %><br />
    <%= f.text_field :primary_model %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
