<%= stylesheet_link_tag    "table", :media => "all" %>
<%= stylesheet_link_tag    "pagination", :media => "all" %>
<h1>Listing QTO items</h1>

<div class="digg_pagination">
    <div clas="page_info">
      <%= page_entries_info @qto_items %>
    </div>
    <%= will_paginate  @qto_items, :container => false %>
</div><br/>


<table>
  <tr>
    <th>Oz</th>
    <th>Ort</th>
    <th>Adresse</th>
    <th>Formelnummer</th>
    <th>Result</th>
    <th>Rechenansatz</th>
    <th></th>    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qto_items.each do |qto_item| %>
  <tr>
    <td><%= qto_item.oz %></td>
    <td><%= qto_item.ort %></td>
    <td><%= qto_item.adresse %></td>
    <td><%= qto_item.formelnummer %></td>
    <td><%= qto_item.result %></td>
    <td><%= qto_item.rechenansatz %></td>    
    <td><%= link_to 'Show', qto_item %></td>
    <td><%= link_to 'Edit', edit_qto_item_path(qto_item) %></td>
    <td><%= link_to 'Destroy', qto_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Qto item', new_qto_item_path %>
