<p id="notice"><%= notice %></p>

<p>
  <b>Oz:</b>
  <%= @qto_item.oz %>
</p>

<p>
  <b>Ort:</b>
  <%= @qto_item.ort %>
</p>

<p>
  <b>Adresse:</b>
  <%= @qto_item.adresse %>
</p>

<p>
  <b>Formelnummer:</b>
  <%= @qto_item.formelnummer %>
</p>

<p>
  <b>Result:</b>
  <%= @qto_item.result %>
</p>

<p>
  <b>Rechenansatz:</b>
  <%= @qto_item.rechenansatz %>
</p>

<p>
  <b>Building element:</b>
  <%= @qto_item.building_element %>
</p>

<p>
  <b>Primary model:</b>
  <%= @qto_item.primary_model %>
</p>


<%= link_to 'Edit', edit_qto_item_path(@qto_item) %> |
<%= link_to 'Back', qto_items_path %>
