<%= stylesheet_link_tag    "jsgantt", :media => "all" %>
<%= javascript_include_tag "jsgantt" , :media => "all" %>
<form name='form1'>  
<div class="field">
     <input class="datetimepicker_sim_events" id="start_date" name="start_date" value="" size="6"  type="text" />
     <script type="text/javascript">
	//<![CDATA[
	jQuery(document).ready(function(){jQuery('#start_date').datetimepicker({})});
	//]]>
	</script>    
    
    <input class="datetimepicker_sim_events" id="end_date" name="end_date" value="" size="6" type="text" />
    <input type="button" value="update" onclick="mySubmit();" />    
    <script type="text/javascript">
	//<![CDATA[
	jQuery(document).ready(function(){jQuery('#end_date').datetimepicker({})});
	//]]>
	</script>    
  </div>
  
</form>  
<div style="position:relative;width: 100%;" class="gantt" id="GanttChartDIV" ></div>
<script>	
	var g = new JSGantt.GanttChart('g',document.getElementById('GanttChartDIV'), 'month');
	g.setShowRes(0); // Show/Hide Responsible (0/1)
	g.setShowDur(1); // Show/Hide Duration (0/1)
	g.setShowComp(0); // Show/Hide % Complete(0/1)
    g.setCaptionType('None');  // Set to Show Caption (None,Caption,Resource,Duration,Complete)
    //g.setFormatArr("minute","hours","days","weeks","months")
    g.setFormatArr("minute","hours","days","weeks","months","quarter")
  if( g ) {
    // Parameters(pID, pName,pStart,pEnd,pColor,pLink,pMile, pRes,  pComp, pGroup, pParent, pOpen)
	// use the XML file parser 
	<% if @xml_file != nil %>
		JSGantt.parseXML('/documents/<%= @xml_file%>.xml',g);
	<% end %>						
	g.Draw();	
    g.DrawDependencies();
  }
  else
  {
    alert("not defined");
  }
  
  function mySubmit () {
  	g = null;	
  	var g = new JSGantt.GanttChart('g',document.getElementById('GanttChartDIV'), 'month');
	g.setShowRes(0); // Show/Hide Responsible (0/1)
	g.setShowDur(1); // Show/Hide Duration (0/1)
	g.setShowComp(0); // Show/Hide % Complete(0/1)
    g.setCaptionType('None');  // Set to Show Caption (None,Caption,Resource,Duration,Complete)
    //g.setFormatArr("minute","hours","days","weeks","months")
    g.setFormatArr("minute","hours","days","weeks","months","quarter")
  if( g ) {
    // Parameters(pID, pName,pStart,pEnd,pColor,pLink,pMile, pRes,  pComp, pGroup, pParent, pOpen)
	// use the XML file parser 
	JSGantt.parseXML('/documents/<%= @xml_file%>.xml',g)
	g.Draw();	
    g.DrawDependencies();
  }
  else
  {
    alert("not defined");
  }

	}
</script>