<%= stylesheet_link_tag    "image_player", :media => "all" %>
<script type="text/javascript">
function Wechseln(id)
{
document.images["curr_img"].src = document.controls_form.url.value + id + ".png";
document.controls_form.id.value = id;
}

function start_timer()
{
var t=setTimeout("make_step()",document.controls_form.timer_interval.value);
document.images["curr_img"].width =screen.width-220;
//document.images["curr_img"].height =screen.height-120;
document.controls_form.timer.value= "1";
}

function make_step()
{
document.controls_form.id.value = document.controls_form.id.value*1 + 1 ;

document.images["curr_img"].src =document.controls_form.url.value + document.controls_form.id.value  + ".png";
if (document.controls_form.timer.value == "1") {
start_timer();
}
}

function stop_timer()
{
//document.images["curr_img"].width =600;
document.images["curr_img"].width =980;
document.controls_form.timer.value= "0";
}
</script>
<form  name="controls_form" action="">
<input type="hidden" name="refresh" value="-1" >
<input type="hidden" name="url" value="<%=j @component.sim_model.results_url%>/<%=j @component.name %>" >
<input name="id" value="2" size="2"  >
<input type="button" value="<" onClick="Wechseln(document.controls_form.id.value*1 - 1);">
<input type="button" value=">" onClick="Wechseln(document.controls_form.id.value*1 + 1);">
<input type="button" value="Run" onClick="start_timer(document.controls_form.id.value*1 + 1)">
<input type="button" value="Pause" onClick="stop_timer()">
<input name="timer" type="hidden" value="2" >
Refresh rate<input name="timer_interval" size="3" value="1000" >millisecond
</form>

<img id="curr_img" width="980" src='<%= @component.sim_model.results_url%>/<%= @component.name %>.png'>

