<%= form_for(@bim_model) do |f| %>
  <% if @bim_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bim_model.errors.count, "error") %> prohibited this bim_model from being saved:</h2>

      <ul>
      <% @bim_model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :bim_path %><br />
    <%= f.text_field :bim_path %>
  </div>
  <div class="field">
    <%= f.label :bim_site %><br />
    <%= f.text_field :bim_site %>
  </div>
  <div class="field">
    <%= f.label :ifc_classes %><br />
    <%= f.text_area :ifc_classes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
