<%= stylesheet_link_tag    "table", :media => "all" %>
<h1>Listing BIM models</h1>

<table>
  <tr>
    <th>Sim model</th>
    <th>BIM</th>    
    <th>size</th>    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bim_models.each do |bim_model| %>
  <tr>
    <td><%= bim_model.sim_model.name %></td>
    <td><%= bim_model.name %></td>    
    <td><%= bim_model.bim_site %></td>    
    <td><%= link_to 'Show', bim_model %></td>
    <td><%= link_to 'Edit', edit_bim_model_path(bim_model) %></td>
    <td><%= link_to 'Destroy', bim_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Register new BIM model', new_bim_model_path %>
