<p id="notice"><%= notice %></p>
<p>
  <b>Sim model:</b>
  <%= @bim_model.sim_model.name %>
</p>
<p>
  <b>Name:</b>
  <%= @bim_model.name %>
</p>

<p>
  <b>Bim path:</b>
  <%= @bim_model.bim_path %>
</p>

<p>
  <b>Bim site:</b>
  <%= @bim_model.bim_site %>
</p>

<p>
  <b>Ifc classes:</b>
  <%= @bim_model.ifc_classes %>
</p>




<%= link_to 'Edit', edit_bim_model_path(@bim_model) %> |
<%= link_to 'Back', bim_models_path %>
