  <%= stylesheet_link_tag    'lightbox', media: 'all' %>
  <%= javascript_include_tag 'lightbox' %>

<h2>ProSIM</h2>
<a href='http://rubyonrails.org/'><img src='Ruby_on_Rails_logo.jpg' width="60"></a>
ProSIM is a modern web application designed and implemented in "Ruby on Rails" especially for <%= link_to "CST simulation toolkit", "/cst_doc/index" %> to work as a communication and collaboration layer between the simulation experts and other design and planning teams
<br />
<p>
<a href='http://opensource.org/'><img src='http://opensource.org/files/garland_logo.png' width="60"></a>
ProSIM is open source and released under the terms of the GNU General Public License v2 (GPL).(<a href='https://bitbucket.org/ali_ismail/prosim/src'>get the source code</a>)</p>
<h3>Demo simulation models:</h3>
<ol>
<li>MefistoFlugsteig</li>
<img src='http://bci52.cib.bau.tu-dresden.de:3000/MMCs/a_td_mod_gcat_cad_rvt_cm_arc_2011_s1-7.ifc.png' width="180" />
<ul>
<p><a href='/sim_models/3'><img src='sim_models_3.png' style="border:1px solid black" width="200"><br/>Simulationsmodel für MefistoFlugsteig/Simulation model for Mefisto-airport demo project</a></p>
<p><a href='/sim_models/9'><img src='sim_models_9.png' style="border:1px solid black" width="200"><br/>	Simulationsmodel für MefistoFlugsteig(Top-Down Simulation) / Simulation model for Mefisto-airport demo project(generating the project schedule automatically)</a></p>
<p><a href='/sim_models/8'><img src='sim_models_8.png' style="border:1px solid black" width="200"><br />Simulationsmodel für MefistoFlugsteig(Eine Etage E04) / Simulation model for Mefisto-airport demo project- The 4th floor only</a></p>
</ul>
<li>MefistoHochhaus</li>
<img src='http://bci52.cib.bau.tu-dresden.de:3000/MefistoHochhaus.png' width="180" />
<ul>
<a href='http://mefisto-bau.de/simweb/'> Three simulation models </a>
</ul>
</ol>
<h3>Selected results of demonstration projects:</h3>
<table>
<tr>
<td valign="top" style="padding: 10px">
<a href='/4D_Sim.gif'>4D Animation</br><img src='/4D_Sim.gif' width=425/></a>
</td>
<td valign="top" style="padding: 10px">
<a href='/documents/DrawPanel_minamal_Daur.gif'>Animation for the minimum project duration(click here for a full screen animatione)</br><img src='/documents/DrawPanel_minamal_Daur.gif' width=650/></a>
</td>
</tr>
</table>
<ul>
<li><a href='/sim_models/3/draw_panels/1'>2D Drawing panel</a></li>
<li><a href='/sim_models/3/project_monitors/3'>Resources monitor</a></li>
<li><a href='/sim_events/2sicfH5Qb89QukdWU99jga'>Example for the verification of silumation events through the GUID of building elements</a></li>
<li><a href='/rpms'>Examples of the used reference process model (RPM) templates</a></li>
</ul>
<h2>Construction Simulation Toolkit (CST)</h2>
<p>CST is a simulation toolkit for construction industry built on top of the <a href='http://www.plm.automation.siemens.com/en_us/products/tecnomatix/plant_design/plant_simulation.shtml'>Tecnomatix Plant Simulation-Siemens PLM Software</a> .
</p>
<p>It aims to simplify and accelerate the process of creating simulation models for construction project planning.</p>
(<%= link_to "in German" , '/doc/cst_overview.pdf'%>)
<h4>Key concepts</h4>
<ul>
	<li>Process-based simulation using BPMN 2.0 notation</li>
	<li>Integration  with building information modelling(BIM) based on IFC standard</li>
	<li>Integration with traditional planning software</li>
	<li>Integration with Mefisto Multi-Model project delivery method</li>
	<li>Unified simulation enviroment for production and logistic planning</li>
</ul>
		
<h3>Publications/Veröffentlichungen:</h3>
<ol>
<li>
Simulation von Bauausführungsvarianten mit einem prozessbasierten Simulationsbaukasten.  Kapitel 6, Book title: Informationssysteme im Bauwesen,</br> Band 2: Anwendung von Multimodellen in der Baustellenplanung und Bauablaufsimulation, Editors:  Raimar J. Scherer, Sven-Eric Schapke, Publisher: Springer (erscheint Ende 2014)
<br/>
<a href= "http://mefisto-bau.de/pdf/cst/01_Simulation von Bauausführungsvarianten mit einem prozessbasierten Simulationsbaukasten_2014.pdf" ><img src="/doc/pdf.png" /> Download</a>	
</li>
<li>
Collaborative web-based simulation platform for construction project planning. (2014) 15th IFIP working conference on Virtual Enterprises, 6-8 October 2014, Amsterdam, Netherlands.	
<br/>
<a href= "http://mefisto-bau.de/pdf/cst/02_Collaborative web-based simulation platform for construction project planning_ PROVE Konferenz 2014.pdf" ><img src="/doc/pdf.png" /> Download</a>	

</li>
<li>
(Best paper award- MAS 2014)
<br/>Integration of simulation data for construction project planning using a process-based simulation framework (2014),</br> 13th International Conference on Modeling and Applied Simulation (MAS 2014), 10-12 September 2014, Bordeaux, France	
<br/>
<a href= "http://mefisto-bau.de/pdf/cst/03_Integration of simulation data for construction project_ Best paper award MAS 2014.pdf" ><img src="/doc/pdf.png" /> Download</a>	
</li>
<li>
Simulation von Bauausführungsvarianten eines Hochhauses . (2011) Mefisto Kongress II, Dresden, Germany.	
<br/>
<a href= "http://mefisto-bau.de/pdf/cst/04_Simulation von Bauausführungsvarianten eines Hochhauses_Mefisto Kongress II 2011.pdf" ><img src="/doc/pdf.png" /> Download</a>	
</li>
<li>
Process-based Simulation Library for Construction Project Planning. (2011) ,Winter Simulation Conference, Arizona, USA.
<br />
<a href='http://mefisto-bau.de/pdf/pubs/11_Scherer%2c%20Ismail%20-%20Process-based%20simulation%20Library%20for%20construction%20project%20planning.pdf'><img src="/doc/pdf.png" /> Download </a>
</li>
<li>
Optimization of resource utilization and project schedule through an object oriented simulation library. (2010), Forum Bauinformatik , Berlin-Germany
<br/>
<a href= "http://mefisto-bau.de/pdf/cst/06_Optimization of resource utilization and project schedule through an object oriented_ Bauinformatik Fourm 2010.pdf" ><img src="/doc/pdf.png" /> Download</a>	
</li>
</ol>

<h3>More information about Mefisto project and other software:</h3>
CST is one of the software, which were developed within the Geramn leading research project <a href='http://mefisto-bau.de/'>Mefisto</a></br>
Click on the links bellow to read about other software, e.g. :
<a href='http://mefisto-bau.de/resources/resources_software.html'><h4>Multi Model Assembly and Analysis (M2A2) Platform</h4></a>
<%= image_tag 'm2a2.png'%>
<div style="width:40%;display: none">
Platform for the generation and analysis of multi models - consisting of arbitrary heterogenuous, cross domain models; programatic extensibility for domain model parsers, filters and viewers; declarative extensibility for XML-based domain models; multi model query language MMQL with interpreter; TCP/IP based MMQL server; multi model viewer; reusable software components for creation of arbitrary multi-model applications 
</div>
<a href='http://mefisto-bau.de/resources/resources_software.html'><h4> BIM Filter Toolbox</h4></a>
<%= image_tag 'bimfit.png'%>
<div style="width:40%;display: none">
BIMfit is a modular toolbox for filtering and querying of Ifc building models.</br> It offers a basic set of different generic, semantic and algorithmic filter functions which can be used to build complex domain and application specific filter operations in a flexible way.
</div>
<h4>
<a href='http://mefisto-bau.de/resources/resources_software.html'>List of all Mefisto's software </a>
</h4> 
<hr>
<b>Contact:</b>
<a href="mailto:ali.ismail@tu-dresden.de">ali.ismali at tu-dresden.de</a>
