<%= stylesheet_link_tag    "table", :media => "all" %>
<h2>Events Report</h2>

<table>
  <tr>
  	<th rowspan="2">ID</th>
    <th rowspan="2">Object</th>
    <th rowspan="2" >Object Event</th> 
    <th colspan="3">Duration in</th>
   </tr>
   <tr>
    <th>minute</th>       
    <th>hour</th>
    <th>day</th>
    
  </tr>
<% id = 0 %>
<% @events_report.each do |event_rep| %>
<% id= id + 1%>
  <tr>
  	<td><%= id.to_s %></td>
    <td><%= event_rep.object %></td>
    <td><%= event_rep.obj_status %></td> 
    <td><%= ((event_rep.duration_minutes*100).round.to_f)/100 %></td>       
    <td><%= ((event_rep.duration_hours*100).round.to_f)/100 %></td>
    <td><%= ((event_rep.duration_days*100).round.to_f)/100 %></td>
   
  </tr>
<% end %>
</table>



