<%= form_for(@aw) do |f| %>
  <% if @aw.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aw.errors.count, "error") %> prohibited this aw from being saved:</h2>

      <ul>
      <% @aw.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bauweise %><br />
    <%= f.text_field :bauweise %>
  </div>
  <div class="field">
    <%= f.label :arbeitsweise %><br />
    <%= f.text_field :arbeitsweise %>
  </div>
  <div class="field">
    <%= f.label :bauteil %><br />
    <%= f.text_field :bauteil %>
  </div>
  <div class="field">
    <%= f.label :spezifizierung %><br />
    <%= f.text_field :spezifizierung %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :menge_einheit %><br />
    <%= f.text_field :menge_einheit %>
  </div>
  <div class="field">
    <%= f.label :zeit_einheit %><br />
    <%= f.text_field :zeit_einheit %>
  </div>
  <div class="field">
    <%= f.label :pro %><br />
    <%= f.text_field :pro %>
  </div>
  <div class="field">
    <%= f.label :hinweis %><br />
    <%= f.text_area :hinweis %>
  </div>
  <div class="field">
    <%= f.label :changed_by %><br />
    <%= f.number_field :changed_by %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
