<%= stylesheet_link_tag    "table", :media => "all" %>
<h1>Listing Aufwandswerte</h1>
Related links:<%= link_to "Standard LV-Items", "/lv_items" %><br /><br />
<table>
  <tr>
    <th>Bauweise</th>
    <th>Arbeitsweise</th>
    <th>Bauteil</th>
    <th>Spezifizierung</th>
    <th>name</th>
    <th>AW-wert</th>
    <th>Einheit</th>
    <th>Pro</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @aws.each do |aw| %>
  <tr>
    <td><%= aw.bauweise %></td>
    <td><%= aw.arbeitsweise %></td>
    <td><%= aw.bauteil %></td>
    <td><%= aw.spezifizierung %></td>
    <td><%= aw.name %></td>
    
    <td
    <% if aw.value.to_s == "" %>
    <%= " style=background-color:#ffaabb" %>
    <% end %>
    ><%= aw.value %></td>
    <td><%= aw.zeit_einheit %>/<%= aw.menge_einheit %></td>
    <td><%= aw.pro %></td>
    <td><%= link_to 'Show', aw %></td>
    <td><%= link_to 'Edit', edit_aw_path(aw) if not aw.readonly? %></td>
    <td><%= link_to 'Destroy', aw, method: :delete, data: { confirm: 'Are you sure?' } if not aw.readonly?%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neu Aufwandswert', new_aw_path %>
