<p id="notice"><%= notice %></p>

<p>
  <b>Bauweise:</b>
  <%= @aw.bauweise %>
</p>

<p>
  <b>Arbeitsweise:</b>
  <%= @aw.arbeitsweise %>
</p>

<p>
  <b>Bauteil:</b>
  <%= @aw.bauteil %>
</p>

<p>
  <b>Spezifizierung:</b>
  <%= @aw.spezifizierung %>
</p>

<p>
  <b>Name:</b>
  <%= @aw.name %>
</p>

<p>
  <b>Value:</b>
  <%= @aw.value %> <%= @aw.zeit_einheit %>/<%= @aw.menge_einheit %>  <b>Pro:</b>
  <%= @aw.pro %>
</p>

<p>
  <b>Hinweis:</b>
  <%= @aw.hinweis %>
</p>

<p>
  <b>Changed by:</b>
  <%= @aw.changed_by %>
</p>


<%= link_to 'Edit', edit_aw_path(@aw) if not @aw.readonly? %> |
<%= link_to 'Back', aws_path %>
