<% @primary_model =@mmc.primary_models.build if  @primary_model == nil%>
<%= form_for([@mmc,@primary_model]) do |f| %>
  <% if @primary_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@primary_model.errors.count, "error") %> prohibited this primary_model from being saved:</h2>

      <ul>
      <% @primary_model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :modelType %><br />
    <%= f.text_field :modelType %>
  </div>
  <div class="field">
    <%= f.label :modelid %><br />
    <%= f.text_field :modelid %>
  </div>
  <div class="field">
    <%= f.label :contextId %><br />
    <%= f.text_field :contextId %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
