<%= stylesheet_link_tag    "table", :media => "all" %>


<h2>MMC: <%= link_to @mmc.name, @mmc %></h2>
<h3>Listing Primary models</h3>
<table>
  <tr>    
    <th>Modeltype</th>
    <th>Modelid</th>
    <th>Contextid</th>    
  </tr>

<% @primary_models.each do |primary_model| %>
  <tr>    
    <td><%= primary_model.modelType %></td>
    <td><%= primary_model.modelid %></td>
    <td><%= primary_model.contextId %></td>    
    </tr>
<% end %>
</table>

<br />

<%= link_to 'New Primary model', new_multi_model_container_primary_model_path %>
