<%= stylesheet_link_tag    "table", :media => "all" %>
<h3>Listing IFC models</h3>
<% if @primary_models.first != nil %>
<% @primary_models.first.mm_contents.each do |mm_contents| %>    
    <% if  mm_contents.format.upcase == "IFC"  %>    	    	  		
    	<% mm_contents.mm_files.each do |mm_file| %>
  		<h2><%= link_to mm_file.file.sub("file:///",""),  @mmc.mmc_folder_path + '/' + mm_file.file.sub("file:///","") %></h2>
  		<h3><%= link_to "List of IFC Objects",  @mmc.mmc_folder_path + '/' + mm_file.file.sub("file:///","").sub(".ifc",".html") %></h3>
  		
  	<% end %>	
  	<% end %>    
<% end %>
<% end %>
