<%= stylesheet_link_tag    "table", :media => "all" %>
<p id="notice"><%= notice %></p>

<p>
  <b>Modeltype:</b>
  <%= @primary_model.modelType %>
</p>

<p>
  <b>Modelid:</b>
  <%= @primary_model.modelid %>
</p>

<p>
  <b>Contextid:</b>
  <%= @primary_model.contextId %>
</p>


<h3>Listing Contents</h3>
<%= link_to 'New content', "/multi_model_containers/#{@primary_model.multi_model_container.id}/primary_models/#{@primary_model.id}/mm_contents/new" %>
<br />
<br />
<table>
  <tr>    
    <th>ID</th>
    <th>Format</th>
    <th>Format Version</th>    
  </tr>
<% @primary_model.mm_contents.each do |mm_content| %>
  <tr>    
    <td><%= link_to mm_content.contentid, "/multi_model_containers/#{@primary_model.multi_model_container.id}/primary_models/#{@primary_model.id}/mm_contents/#{mm_content.id}"  %></td>
    <td><%= link_to mm_content.format, "/multi_model_containers/#{@primary_model.multi_model_container.id}/primary_models/#{@primary_model.id}/mm_contents/#{mm_content.id}" %></td>    
    <td><%= mm_content.formatVersion %></td>    
    </tr>
<% end %>
</table>
<br />
<br />
<%= link_to 'Back', "/multi_model_containers/#{@primary_model.multi_model_container.id}" %>



