<%= stylesheet_link_tag    "table", :media => "all" %>
<%= stylesheet_link_tag    "pagination", :media => "all" %>
<%= javascript_include_tag "links" , :media => "all" %>
<h1>Listing Links</h1>
<div class="search_div">
<% # search_form_for @search, url: search_sim_events_path, method: :post do |f| %>
<%= search_form_for @search do |f| %>
  <%= f.condition_fields do |c|%>
  <%=   render "shared/condition_fields", f: c  %>
  <% end %>
  <p><%= link_to_add_fields "Add more conditions",f,:condition%></p>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>
</div></div>
</div>
<div class="digg_pagination">
    <div clas="page_info">
      <%= page_entries_info @links %>
    </div>
    <%= will_paginate  @links, :container => false %>
</div><br/>
<table>
  <tr>  
<% @links.first.link_model.primary_models.each { |pm| %>
<th><%= sort_link @search ,pm.modelid.downcase.to_sym,pm.modelid %>(<%= pm.modelType %>)</th>
<% }%>	
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @links.each do |link| %>
  <tr>
 	<% link.link_model.primary_models.each { |pm| %>
	<td>
	<% spaceName =link.send(pm.modelid.downcase + "_namespace") %>
	<% spaceName = spaceName +  "::" if spaceName != nil %>
	<%=  spaceName %><%= link.send(pm.modelid.downcase) %>
	<% if pm.modelType.upcase =="OBJECT"%>
	<br /><img width="100" src='http://bci52.cib.bau.tu-dresden.de:3000/temp/FH_Angebot/png/<%= link.send(pm.modelid.downcase) %>.png'>
	<% end %>		
	</td>
	<% }%>        
    <td><%= link_to 'Show', link %></td>
    <td><%= link_to 'Edit', edit_link_path(link) %></td>
    <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'Add new link', new_link_path %>
