<% @link.link_model.primary_models.each { |pm| %>
<p><b><%= pm.modelid%>:</b>
	<% spaceName =@link.send(pm.modelid.downcase + "_namespace") %>
	<% spaceName = spaceName +  "::" if spaceName != nil %>
	<%=  spaceName %><%= @link.send(pm.modelid.downcase) %>
</p>
<% if pm.modelType.upcase =="OBJECT"%>
<br /><img src='http://bci52.cib.bau.tu-dresden.de:3000/temp/FH_Angebot/png/<%= @link.send(pm.modelid.downcase) %>.png'>
<% end %>
<% } %>

<div style="background-color: #FFEBC1;width:30%;padding: 10px">
<% if @qto_item != nil %>
<% @qto_item.all.each  { |q| %>
<b>Adresse:</b>	<%= q[:adresse]%>
<br /><br /><b>Menge:</b>	<%= q[:result]%>
<br /><br /><b>Rechenansatz:</b>	<%= q[:rechenansatz]%><%= q[:result]%>
<% } %>
<% end%>
</div>


<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>

