<% @gannt_chart =@sim_model.gannt_charts.build if  @gannt_chart == nil%>
<%= form_for([@sim_model,@gannt_chart]) do |f| %>
  <% if @gannt_chart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gannt_chart.errors.count, "error") %> prohibited this gannt_chart from being saved:</h2>

      <ul>
      <% @gannt_chart.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
