<%= stylesheet_link_tag    "table", :media => "all" %>
<h3>Listing Gannt charts</h3>

<%= link_to image_tag("icons/plus.png", :border => 0) + t("New Gannt chart"), new_sim_model_gannt_chart_path %>
<table>
  <tr>
    <th>Name</th>    
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @gannt_charts.each do |gannt_chart| %>
  <tr>
    <td><%= gannt_chart.name %></td>    
    <td><%= link_to 'Show', "gannt_charts/#{gannt_chart.id}" %></td>
    <td><%= link_to 'Edit', "gannt_charts/#{gannt_chart.id}/edit" %></td>
    <td><%= link_to 'Destroy', "gannt_charts/#{gannt_chart.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Back to simulation model:' + @sim_model.name, sim_model_path(@sim_model) %>

