<%= javascript_include_tag "jquery-ui-timepicker-addon" , :media => "all" %>
<%= javascript_include_tag "datetime_picker" , :media => "all" %>
<%= stylesheet_link_tag    "gannt_charts", :media => "all" %>
<p>
  <b>Sim model:</b>
  <%= @gannt_chart.sim_model.name %>
  <b>Gannt chart:</b>
  <%= @gannt_chart.name %>
<%= link_to 'Edit', "/sim_models/#{@gannt_chart.sim_model.id}/gannt_charts/#{@gannt_chart.id}/edit" %> |
<%= link_to 'Back', sim_model_gannt_charts_path %>
</p>
  <%= javascript_tag do%>
  window.MinDate="<%=j SimEvent.minimum(:eventdate).to_s %>";
  window.MaxDate="<%=j SimEvent.maximum(:eventdate).to_s %>";  
 <% end %>
<% @xml_file =@gannt_chart.name %>
<%= render "shared/gannt" %>