<%= stylesheet_link_tag    "user", :media => "all" %>
<h2>Sign in</h2>
<div id='login'>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div ><%= f.label :email %><br />
  <%= f.email_field :email, :value =>"demo@mefisto-bau.de" %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password,:value =>"demo" %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>
  </div>
 
<%= render "devise/shared/links" %>
<hr />
<p>Demo user: <b>E-mail: </b>demo@mefisto-bau.de , <b>Password:</b> demo</p>
