<%= form_for(@task_attribute) do |f| %>
  <% if @task_attribute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task_attribute.errors.count, "error") %> prohibited this task_attribute from being saved:</h2>

      <ul>
      <% @task_attribute.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :AttName %><br />
    <%= f.text_field :AttName %>
  </div>
  <div class="field">
    <%= f.label :AttValue %><br />
    <%= f.text_field :AttValue %>
  </div>
  <div class="field">
    <%= f.label :AttType %><br />
    <%= f.text_field :AttType %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
