<table>
<tr><th>Attribute name</th><th>Attribute value</th><th></th></tr>
<% @task_attributes.each do |att| %>
<tr>
	<th><%= att.AttName %></th>
	<td><%= att.AttValue %></td>
	<td> <%= link_to task_attribute_path(att, :task_id => @task.id), :method => :delete, :confirm => 'Delete this Attribute?', :remote => true do |l| %>Delete<% end %></td>
</tr>
<% end %>
</table>