//The first line updates the reference list (with the new Reference).
$('ul.task_attribute_list').html("<%= escape_javascript(render('task_attributes/task_attribute_list')) %>");
//This second line removes the text that was within the textarea (looks nicer and avoids duplication).
$('textarea.AttName').val("");
$('textarea.AttValue').val("");