<h1>Listing task_attributes</h1>

<table>
  <tr>
    <th>Attname</th>
    <th>Attvalue</th>
    <th>Atttype</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @task_attributes.each do |task_attribute| %>
  <tr>
    <td><%= task_attribute.AttName %></td>
    <td><%= task_attribute.AttValue %></td>
    <td><%= task_attribute.AttType %></td>
    <td><%= link_to 'Show', task_attribute %></td>
    <td><%= link_to 'Edit', edit_task_attribute_path(task_attribute) %></td>
    <td><%= link_to 'Destroy', task_attribute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task attribute', new_task_attribute_path %>
