<p id="notice"><%= notice %></p>

<p>
  <b>Attname:</b>
  <%= @task_attribute.AttName %>
</p>

<p>
  <b>Attvalue:</b>
  <%= @task_attribute.AttValue %>
</p>

<p>
  <b>Atttype:</b>
  <%= @task_attribute.AttType %>
</p>


<%= link_to 'Edit', edit_task_attribute_path(@task_attribute) %> |
<%= link_to 'Back', task_attributes_path %>
