<% @sim_result =@sim_szenario.sim_results.build if  @sim_result == nil%>
<%= form_for([@sim_szenario.sim_model,@sim_szenario,@sim_result]) do |f| %>
  <% if @sim_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sim_result.errors.count, "error") %> prohibited this sim_result from being saved:</h2>

      <ul>
      <% @sim_result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :size => 100 %>
  </div>
  <div class="field">
    <%= f.label :result_type %><br />
    <%= f.text_field :result_type %>
  </div>
  <div class="field">
    <%= f.label :result_url %><br />
    <%= f.text_field :result_url ,:size => 100 %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
