<%= stylesheet_link_tag    "table", :media => "all" %>

<hr />
<h2>Listing sim_results</h2>


<table>
  <tr>
    <th>Name</th>
    <th>Result type</th>
    <th>Result url</th>
    <th>Description</th>    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sim_results.each do |sim_result| %>
  <tr>
    <td><%= sim_result.name %></td>
    <td><%= sim_result.result_type %></td>
    <td><%= link_to "Open the result link",sim_result.result_url %></td>
    <td><%= sim_result.description %></td>  
     
	<td><%= link_to 'Show', "/sim_models/#{sim_result.sim_szenario.sim_model.id}/sim_szenarios/#{sim_result.sim_szenario.id}/sim_results/#{sim_result.id}" %></td>
    <td><%= link_to 'Edit', "/sim_models/#{sim_result.sim_szenario.sim_model.id}/sim_szenarios/#{sim_result.sim_szenario.id}/sim_results/#{sim_result.id}/edit" %></td>
    <td><%= link_to 'Destroy', "/sim_models/#{sim_result.sim_szenario.sim_model.id}/sim_szenarios/#{sim_result.sim_szenario.id}/sim_results/#{sim_result.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sim result', new_sim_model_sim_szenario_sim_result_path %>
