<p>
  <b>Simulation Model</b>
  <%= @sim_result.sim_szenario.sim_model.name %>
  <b>Simulation szenario:</b>
 <%= @sim_result.sim_szenario.name %>
</p>
<p>
  <b>Result Name:</b>
  <%= @sim_result.name %>
</p>

<p>
  <b>Result type:</b>  	
  <%= @sim_result.result_type %>  
</p>

<p>
  <b>Result url:</b>
   <%= @sim_result.result_url %>
</p>

<% if @sim_result.result_type == "image" %>
<p>
<%= link_to  image_tag(@sim_result.result_url, :border => 0) %> 	
</p>
<% end %>

  <b>Description:</b>
  <%= @sim_result.description %>
</p>




<%= link_to 'Edit', edit_sim_model_sim_szenario_sim_result_path(@sim_result) %> |
<%= link_to 'Back', sim_model_sim_szenario_sim_results_path %>
