<% @draw_panel =@sim_model.draw_panels.build if  @draw_panel == nil%>
<%= form_for([@sim_model,@draw_panel]) do |f| %>
  <% if @draw_panel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@draw_panel.errors.count, "error") %> prohibited this draw_panel from being saved:</h2>

      <ul>
      <% @draw_panel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
