<%= stylesheet_link_tag    "table", :media => "all" %>
<h3>Listing Drawing panels</h3>

<%= link_to image_tag("icons/plus.png", :border => 0) + t("New Drawing panel"), new_sim_model_draw_panel_path if not @sim_model.readonly? %>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @draw_panels.each do |draw_panel| %>
  <tr>
    <td><%= draw_panel.name %></td>
    <td><%= link_to 'Show', "draw_panels/#{draw_panel.id}" %></td>
    <td><%= link_to 'Edit', "draw_panels/#{draw_panel.id}/edit" if not draw_panel.sim_model.readonly? %></td>
    <td><%= link_to 'Destroy', "draw_panels/#{draw_panel.id}", method: :delete, data: { confirm: 'Are you sure?' } if not draw_panel.sim_model.readonly? %></td>
  </tr>
<% end %>
</table>
<br />



<%= link_to 'Back to simulation model:' + @sim_model.name, sim_model_path(@sim_model) %>
