<%= stylesheet_link_tag    "draw_panels", :media => "all" %>
<p>
  <b>Sim model:</b>
  <%= @draw_panel.sim_model.name %>
</p>
<p>
  <b>Name:</b>
  <%= @draw_panel.name %>
</p>
<% @component =@draw_panel %>
<%= render "shared/image_player" %>
<%= link_to 'Edit', "/sim_models/#{@draw_panel.sim_model.id}/draw_panels/#{@draw_panel.id}/edit" if not @sim_model.readonly? %> |
<%= link_to 'Back', sim_model_draw_panels_path %>
