<div class="field">
  	<%= f.attribute_fields do |a|%>  	
  	<%= a.attribute_select%>
  	<% end %>
  	<%= f.predicate_select %>
  	<%= f.value_fields do |v| %> 
  	<%= v.text_field :value , :size => "22" %>
  	<% end %>
  	<%= link_to "remove", '#',class:"remove_fields"%>
</div>