<%= form_for(@sim_event) do |f| %>
  <% if @sim_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sim_event.errors.count, "error") %> prohibited this sim_event from being saved:</h2>

      <ul>
      <% @sim_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :object %><br />
    <%= f.text_field :object %>
  </div>
  <div class="field">
    <%= f.label :obj_status %><br />
    <%= f.text_field :obj_status %>
  </div>
  <div class="field">
    <%= f.label :changed_at %><br />
    <%= f.text_field :changed_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
