<%= stylesheet_link_tag    "table", :media => "all" %>
<%= stylesheet_link_tag    "pagination", :media => "all" %>
<%= stylesheet_link_tag    "sim_events", :media => "all" %>
<%= javascript_include_tag "jquery-ui-timepicker-addon" , :media => "all" %>
<%= javascript_include_tag "datetime_picker" , :media => "all" %>
<%= javascript_include_tag "sim_events" , :media => "all" %>
<div class="search_div">
<% # search_form_for @search, url: search_sim_events_path, method: :post do |f| %>
<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :object_eq ,"Object's ID" %>
    <%= f.text_field :object_eq, :size => "22"%>    
    <%= f.label :obj_status_cont ,"Object's status contains" %>
    <%= f.text_field :obj_status_cont, :size => "22"%>    
  <div class="field">  
   <div class="field">
    <%= f.label :changed_at_gteq ,"Event time between" %>
    <%= f.text_field :changed_at_gteq , :size => "5"  %>    
    <%= f.label :changed_at_lteq ,"and" %>
    <%= f.text_field :changed_at_lteq, :size => "5" %>   days 
  </div>
  <%= javascript_tag do%>
  window.MinDate="<%=j SimEvent.minimum(:eventdate).to_s %>";
  window.MaxDate="<%=j SimEvent.maximum(:eventdate).to_s %>";  
  <% end %>
  <div class="field">
    <%= f.label :eventdate_gteq ,"Event date between" %>
    <%= f.text_field  :eventdate_gteq ,:class => "datetimepicker_sim_events"  %>    
    <%= f.label :eventdate_lteq ,"and" %>
    <%= f.text_field :eventdate_lteq, :class => "datetimepicker_sim_events" %>    
  </div>  
  <%= f.condition_fields do |c|%>  
  <%=  
  render "condition_fields", f: c
  %>
  <% end %>  
  <div class="actions"><%= link_to_add_fields "Add more conditions",f,:condition%>
  	<%= f.submit "Search" %>
  </div>
<% end %>
</div></div>
</div>
<a href='/events_reports#index'>Uniqe list of non zero process's duration</a>
<table>
  <tr>
    <th><%= sort_link @search ,:object ,"Object ID" %></th>
    <th>Preview</th>
    <th><%= sort_link @search ,:eventtype, "EventType"  %></th>    
    <th><%= sort_link @search ,:obj_status, "Status"  %></th>
    <th><%= sort_link @search ,:changed_at,"Event time(days)" %></th>
    <th><%= sort_link @search ,:eventtime,"Event time" %></th>    
    <th><%= sort_link @search ,:eventdate,"Event date" %></th>    
  </tr>
<% @sim_events.each do |sim_event| %>
  <tr>
    <td><a target="_blank" href='<%= sim_event.sim_szenario.sim_model.bim_url %>/html/<%= sim_event.object %>.html'><%= sim_event.object %></a></td>
    <td><a target="_blank" href='http://bci52.cib.bau.tu-dresden.de:3001/sgl/?url=<%= sim_event.sim_szenario.sim_model.bim_url %>/dae/<%= sim_event.object%>'>
    	<img src='<%= sim_event.sim_szenario.sim_model.bim_url %>/png/<%= sim_event.object %>.png' width=100 ></a> </td>
    <td><%= sim_event.eventtype %></td>
    <td><%= link_to sim_event.obj_status , sim_event %></td>
    <td><%= ((sim_event.changed_at*100).round.to_f)/100 %></td>
    <td><%= sim_event.eventtime %></td>
    <td><%= sim_event.eventdate %></td>        
  </tr>
<% end %>
</table>
<div class="digg_pagination">
    <div clas="page_info">
      <%= page_entries_info @sim_events %>
    </div>
    <%= will_paginate  @sim_events, :container => false %>
</div>
<br />