<%= stylesheet_link_tag    "table", :media => "all" %>

<% if not @no_match %>
<p>
  <b>Object:</b>
  <%= @sim_event.object%>
</p>
<% dd=@sim_event.changed_at.to_i %>
<% hh= ((@sim_event.changed_at - dd)*24).to_i %>
<% mm= ((((@sim_event.changed_at - dd)*24) - hh)*60).to_i%>
<% ss= ((((((@sim_event.changed_at - dd)*24) - hh)*60)-mm)*60).to_i%>
<%
dd = "0" + dd.to_s if dd.to_s.size == 1
hh = "0" + hh.to_s if hh.to_s.size == 1
mm = "0" + mm.to_s if mm.to_s.size == 1
ss = "0" + ss.to_s if ss.to_s.size == 1
img_src=dd.to_s + "_" + hh.to_s + "_" + mm.to_s + "_" +  ss.to_s + ".png"
%>
<img src='<%=@sim_event.sim_szenario.sim_model.bim_url%>/png/<%= @sim_event.object%>.png'>
<%= @svg.html_safe %>
<table class="propertyset">
<% atts_list="globalId|_4D_Code|_4D_Element|_4D_Element_No_|_4D_Element_Typ_No_|_4D_Level|_4D_Material|_4D_Site_Section|_4D_X_Grid_Line|_4D_Y_Grid_Line|iTwo_Kategorie|Betonklasse|objectType|Bezeichnung|description|tag|Breite|_Laenge|Code|Deckendicke|Dicke|Durchmesser|Ebene|Flaeche|Hoehe|Haupttraeger_Breite|Haupttraeger_Deckendicke|Haupttraeger_Hoehe|Haupttraeger_Laenge|Kategorie|Klasse|Kommentar|Koordinaten|MU_class|Material|MaterialName|Modell|Nebentraeger_Breite|Nebentraeger_Hoehe|Nebentraeger_Lichte_Laenge|Nebentraeger_Material|Nettoflaeche|Nettovolumen|Projekt|RadiusMaxTraglast|Referenzebene|RevitID|RevitObjectType|RevitTypeName|Staerke|Standarddicke|Tiefe|Typ|Typenkommentare|Typenmarkierung|UNIT_OF_MEASURE|Umfang|Unterzug_Breite|Unterzug_Deckendicke|Unterzug_Hoehe|Unterzug_Laenge|Volumen".split("|") %>
<% if @object_atts[0] != nil  %>
	<% @object_atts[0].sort.each do |k,v| %>
	<% if v != nil and v != "\"\"" and atts_list.include?(k) %>
	<tr><th><%= k %></th><td><%= v %></td></tr>
	<% end %>
	<% end %>
	</table>
	<% end %>
<% end %>
<br /><br />
<table>
  <tr>  
  	<th>Szenario ID</th>
  	<th>ID</th>    
     <th>Event type</th>
    <th>Event</th>    
    <th>Event time</th>
    <th>Event date</th>
  </tr>
<% @sim_related_events.each_with_index do |event,id| %>
<% %>
  <tr>   
  	<% style="style='background-color: #ddeecc;'" if event.id == @sim_event.id %>
  	<td <%= style %>><%= event.sim_szenario.id %></td>
  	<td <%= style %>><%= id+1 %></td>    
    <td <%= style %>><%= event.eventtype %> </td>
    <td <%= style %>><%= event.obj_status[0..-22].sub("0_","0.").gsub("_"," ") %></td>
    <td <%= style %>><%= event.changed_at %></td>
    <td <%= style %>><%= event.eventdate %></td>
  </tr>
  <% style=""%>
<% end %>
</table>

<br />
<%= link_to 'Back', sim_events_path %>
