<%= form_for(@attribut) do |f| %>
  <% if @attribut.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attribut.errors.count, "error") %> prohibited this attribut from being saved:</h2>

      <ul>
      <% @attribut.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   Name <br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Type %><br />
    <%= f.text_field :attType %>
  </div>
  <div class="field">
    Not Null<br />
    <%= f.check_box :notnull %>
  </div>
  <div class="field">
    Default value <br />
    <%= f.text_field :dflt_value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
