<%= stylesheet_link_tag    "table", :media => "all" %>
<h1>Attributs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Not Null</th>
    <th>Default value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attributs.each do |attribut| %>
  <tr>
    <td><%= attribut.name %></td>
    <td><%= attribut.attType %></td>
    <td><%= attribut.notnull %></td>
    <td><%= attribut.dflt_value %></td>
    <td><%= link_to 'Show', attribut %></td>
    <td><%= link_to 'Edit', edit_attribut_path(attribut) %></td>
    <td><%= link_to 'Destroy', attribut, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attribut', new_attribut_path %>
