<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @attribut.name %>
</p>

<p>
  <b>Type</b>
  <%= @attribut.attType %>
</p>

<p>
  <b>Not Null:</b>
  <%= @attribut.notnull %>
</p>

<p>
  <b>Default value:</b>
  <%= @attribut.dflt_value %>
</p>


<%= link_to 'Edit', edit_attribut_path(@attribut) %> |
<%= link_to 'Back', attributs_path %>
