<%= form_for(@building_element) do |f| %>
  <% if @building_element.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@building_element.errors.count, "error") %> prohibited this building_element from being saved:</h2>

      <ul>
      <% @building_element.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :globalid %><br />
    <%= f.text_field :globalid %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :ifc_class %><br />
    <%= f.text_field :ifc_class %>
  </div>
  <div class="field">
    <%= f.label :objectType %><br />
    <%= f.text_field :objectType %>
  </div>
  <div class="field">
    <%= f.label :ifc_line_id %><br />
    <%= f.text_field :ifc_line_id %>
  </div>
  <div class="field">
    <%= f.label :tag %><br />
    <%= f.text_field :tag %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :level %><br />
    <%= f.text_field :level %>
  </div>
  <div class="field">
    <%= f.label :work_section %><br />
    <%= f.text_field :work_section %>
  </div>
  <div class="field">
    <%= f.label :material %><br />
    <%= f.text_field :material %>
  </div>
  <div class="field">
    <%= f.label :revit_id %><br />
    <%= f.text_field :revit_id %>
  </div>
  <div class="field">
    <%= f.label :volume %><br />
    <%= f.text_field :volume %>
  </div>
  <div class="field">
    <%= f.label :length %><br />
    <%= f.text_field :length %>
  </div>
  <div class="field">
    <%= f.label :depth %><br />
    <%= f.text_field :depth %>
  </div>
  <div class="field">
    <%= f.label :width %><br />
    <%= f.text_field :width %>
  </div>
  <div class="field">
    <%= f.label :primary_model %><br />
    <%= f.text_field :primary_model %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
