<h1>Listing building_elements</h1>

<table>
  <tr>
    <th>Globalid</th>
    <th>Name</th>
    <th>Ifc class</th>
    <th>Objecttype</th>
    <th>Ifc line</th>
    <th>Tag</th>
    <th>Description</th>
    <th>Level</th>
    <th>Work section</th>
    <th>Material</th>
    <th>Revit</th>
    <th>Volume</th>
    <th>Length</th>
    <th>Depth</th>
    <th>Width</th>
    <th>Primary model</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @building_elements.each do |building_element| %>
  <tr>
    <td><%= building_element.globalid %></td>
    <td><%= building_element.name %></td>
    <td><%= building_element.ifc_class %></td>
    <td><%= building_element.objectType %></td>
    <td><%= building_element.ifc_line_id %></td>
    <td><%= building_element.tag %></td>
    <td><%= building_element.description %></td>
    <td><%= building_element.level %></td>
    <td><%= building_element.work_section %></td>
    <td><%= building_element.material %></td>
    <td><%= building_element.revit_id %></td>
    <td><%= building_element.volume %></td>
    <td><%= building_element.length %></td>
    <td><%= building_element.depth %></td>
    <td><%= building_element.width %></td>
    <td><%= building_element.primary_model %></td>
    <td><%= link_to 'Show', building_element %></td>
    <td><%= link_to 'Edit', edit_building_element_path(building_element) %></td>
    <td><%= link_to 'Destroy', building_element, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Building element', new_building_element_path %>
