<p id="notice"><%= notice %></p>

<p>
  <b>Globalid:</b>
  <%= @building_element.globalid %>
</p>

<p>
  <b>Name:</b>
  <%= @building_element.name %>
</p>

<p>
  <b>Ifc class:</b>
  <%= @building_element.ifc_class %>
</p>

<p>
  <b>Objecttype:</b>
  <%= @building_element.objectType %>
</p>

<p>
  <b>Ifc line:</b>
  <%= @building_element.ifc_line_id %>
</p>

<p>
  <b>Tag:</b>
  <%= @building_element.tag %>
</p>

<p>
  <b>Description:</b>
  <%= @building_element.description %>
</p>

<p>
  <b>Level:</b>
  <%= @building_element.level %>
</p>

<p>
  <b>Work section:</b>
  <%= @building_element.work_section %>
</p>

<p>
  <b>Material:</b>
  <%= @building_element.material %>
</p>

<p>
  <b>Revit:</b>
  <%= @building_element.revit_id %>
</p>

<p>
  <b>Volume:</b>
  <%= @building_element.volume %>
</p>

<p>
  <b>Length:</b>
  <%= @building_element.length %>
</p>

<p>
  <b>Depth:</b>
  <%= @building_element.depth %>
</p>

<p>
  <b>Width:</b>
  <%= @building_element.width %>
</p>

<p>
  <b>Primary model:</b>
  <%= @building_element.primary_model %>
</p>


<%= link_to 'Edit', edit_building_element_path(@building_element) %> |
<%= link_to 'Back', building_elements_path %>
