<%= javascript_include_tag "task_lists" %>
<% @task_list =@sim_model.task_lists.build if  @task_list == nil%>
<%= form_for([@sim_model,@task_list]) do |f| %>
 <% if @task_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task_list.errors.count, "error") %> prohibited this task_list from being saved:</h2>

      <ul>
      <% @task_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :source_path %><br />
    <%= f.text_field :source_path %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
