<%= stylesheet_link_tag    "table", :media => "all" %>
<%= stylesheet_link_tag    "pagination", :media => "all" %>
<%= stylesheet_link_tag    "task_lists", :media => "all" %>
<h1>Listing task_lists</h1>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @task_lists.each do |task_list| %>
  <tr>
    <td><%= task_list.name %></td>
    <td><%= link_to 'Show', "task_lists/#{task_list.id}" %></td>
    <td><%= link_to 'Edit',  "task_lists/#{task_list.id}/edit" %></td>
    <td><%= link_to 'Destroy',  "task_lists/#{task_list.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task list', new_sim_model_task_list_path %>
