<%= javascript_include_tag "jquery-ui-timepicker-addon" , :media => "all" %>
<%= javascript_include_tag "datetime_picker" , :media => "all" %>
<%= stylesheet_link_tag    "gannt_charts", :media => "all" %>
<p>
  <b>Name:</b>
  <%= @task_list.name %>
</p>
<%= link_to 'Edit Tasks', "#{@task_list.id}/tasks" if not @task_list.sim_model.readonly? %>
<%= link_to 'Edit Task list', "#{@task_list.id}/edit" if not @task_list.sim_model.readonly? %> |
<%= link_to 'Back', sim_model_task_lists_path %>
<hr />
  <%= javascript_tag do%>
  window.MinDate="<%=j SimEvent.minimum(:eventdate).to_s %>";
  window.MaxDate="<%=j SimEvent.maximum(:eventdate).to_s %>";  
 <% end %>
 <%= @task_name_filter%>
<%= render "shared/gannt" %>
<script type="text/javascript">
<% @task_list.tasks.each do |task| %>
	<% if @task_name_filter != "" and  @task_name_filter != nil %>
		<% @task_name_filter.to_s.split("|").each do |filter| %>	
		<% if (task.ProcessPool.to_s + "." + task.name).include?(filter) and task.start_date != nil %>
			<% task.start_time %>
			//(pID , pName, pStart, pEnd, pColor,  pLink, pMile, pRes,         pComp, pGroup, pParent, pOpen, pDepend,pCaption 	));
			g.AddTaskItem(new JSGantt.TaskItem(<%= task.id %>,"<%= task.ProcessPool.to_s %>.<%= task.name %>","<%= task.start_date.strftime("%m/%d/%Y") %>" , "<%= (task.end_date).strftime("%m/%d/%Y") %>", "0000ff",  "", 0, "",  0, 0,0, 1, "",""));
		<% end %>
		<% end %>
	<% else %>
			g.AddTaskItem(new JSGantt.TaskItem(<%= task.id %>,"<%= task.ProcessPool.to_s %>.<%= task.name %>","<%= task.start_date.strftime("%m/%d/%Y") %>" , "<%= (task.end_date).strftime("%m/%d/%Y") %>", "0000ff",  "", 0, "",  0, 0,0, 1, "",""));
	<% end %>								
<% end %>
g.Draw();
</script>
<p>
  <b>Source path:</b>
  <%= @task_list.source_path %>
</p>



