/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui/trontastic
 */

/*
 The names of the available JQuery themes:
 black-tie blitzer cupertino dark-hive dot-luv eggplant excite-bike  flick hot-sneaks humanity le-frog mint-choc overcast 
 pepper-grinder  redmond  smoothness south-street  start  sunny  swanky-purse  trontastic  ui-darkness ui-lightness vader 
 */

.notice {
color:#2C4050;
font-size: 1.5em;
 
}
body {	
    color: #484848;
    font-family: Verdana,sans-serif;
    font-size: 12px;
}

a:hover, a:active {
    color: #C61A1A;
    text-decoration: underline;
}
a, a:link, a:visited {
    color: #2A5685;
    text-decoration: none;
}


#top-menu {
    background: none repeat scroll 0 0 #2C4050;    
    color: #FFFFFF;
    font-size: 0.9em;
    height: 2.0em;
    padding: 2px 2px 0 4px;
}
#top-menu ul {
    margin: 0;
    padding: 0;
}
#top-menu li {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
#top-menu a {
    color: #FFFFFF;    
    font-weight: bold;
    margin-right: 8px;
}

