// Place all the styles related to the MultiModelContainers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table {
  border-spacing: 0px;
  border: 2px solid;
  border-color: gray;
  border-collapse: separate;
  background-color: white;
  margin-left:50px;
}
table th {
  border-width: 0px;
  padding: 0px;
  border-style: inset;  
  border-color: gray;
  background-color: #800000;  
  color: #ffffff;
  font-size:12pt
}


table td {
  border-width: 0px;
  padding: 0px;
  border-style: inset;
  border-color: gray;
  background-color: rgb(245, 245, 245);   
  font-size:9pt
}


div.tableContainer {
  width: 100%;       /* table width will be 99% of this*/
  height: 200px;    /* must be greater than tbody*/
   overflow: auto; 
   overflow-y: scroll;
  margin: 0 auto;
}