// Place all the styles related to the SimEvents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.search_div{
  background: #ebebeb;
  width: 700px;
  padding:15px;
}