// Place all the styles related to the SimModels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.description {
   background: none repeat scroll 0 0 #d6d6d6;    
   font-size: 1.1em;
   width: 750px;
   padding: 5px 5px 5px 5px;
   margin: 5px;
}
