
table.resources {
  width: 90%;
  border-width: 5px;
  border-spacing: 1px;
  border-style: outset;
  border-color: gray;
  border-collapse: separate;
  background-color: white;
}
table.resources th {
  border-width: 1px;
  padding: 1px;
  border-style: dotted;
  border-color: gray;
  background-color: white; 
  font-size:10pt; 
}


table.resources td {
  border-width: 1px;
  padding: 1px;
  border-style: dotted;
  border-color: gray;
  background-color: white;
    font-size:8pt;   
}


table {
  border-spacing: 3px;
  border: 2px solid;
  border-color: gray;
  border-collapse: separate;
  background-color: white;
  margin-left:10px;
}
table th {
  border-width: 0px;
  padding: 1px;
  border-style: inset;  
  border-color: gray;
  background-color: rgb(198, 198, 198);  
  font-size:14pt
}

table td {
  border-width: 0px;
  padding: 1px;
  border-style: inset;
  border-color: gray;
  background-color: rgb(245, 245, 245);   
  font-size:12pt
}

table.propertyset th
{
  border-width: 0px;
  padding: 1px;
  border-style: inset;  
  border-color: gray;
  background-color: rgb(230, 230, 230);  
  font-size:10pt;
  text-align:left;
}
table.propertyset td
{
  border-width: 0px;
  padding: 5px;
  border-style: inset;  
  border-color: gray;
  background-color: rgb(245, 245, 245);  
  font-size:10pt;
  min-width:100px;
  text-align:left;
}




div.tableContainer {
  width: 100%;       /* table width will be 99% of this*/
  height: 200px;    /* must be greater than tbody*/
   overflow: auto; 
   overflow-y: scroll;
  margin: 0 auto;
}