// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#login{
    background-color: #e6e6e6;
    width:250px;
    padding:10px;
    border-width:2px;
    border-color:#000000;
    border-style:solid;
    
}

#register table {margin-top:5em; padding:1em; margin-left: auto; margin-right: auto; border: 2px solid #FDBF3B; background-color:#FFEBC1; }
#register table td {padding: 6px;background-color:#FFEBC1;}
#register label {font-weight: bold;}
#login-form table {margin-top:5em; padding:1em; margin-left: auto; margin-right: auto; border: 2px solid #FDBF3B; background-color:#FFEBC1; }
#login-form table td {padding: 6px;background-color:#FFEBC1;}
#login-form label {font-weight: bold;}
#login-form input#username, #login-form input#password { width: 300px; }