<!DOCTYPE html>
<html>
<head>
  <title>ProSim</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<a href='http://mefisto-bau.de/'> <%= image_tag("mefisto.png",:border=>0, :width=>110)%></a>
<font size="6"><b>ProSim </b></font> <font size="4">Collaborative Platform for Construction Project Planning using Simulation Techniques</font>
<div id="top-menu">	
		<%= link_to "Start Page","/"%>		
		<%= link_to "Mefisto-Airport","/sim_models/3"%>|
		<%= link_to "Mefisto-Airport-OG04","/sim_models/8"%>|
		<%= link_to "Airport(top-down-sim)","/sim_models/9"%>|
		<%= link_to "Multi Model Navigator","/multi_model_containers", {:title => 'Multi-Model Container Navigator'}%>|						
		<%= link_to "RPMs","/rpms", {:title => 'Refrence Process Models using BPMN 2.0'} %>|
		<%= link_to "Productivity factors","/aws", {:title => 'Productivity factors'}%>|
		<%= link_to "LVs","/lv_items"%>|
		<%= link_to "CST Documentation","/cst_doc/index" %>|
	<%	if user_signed_in? %>
		<%=  link_to current_user.name , "" %>
		<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
	<% else %>
		<%= link_to "My Simulation Models","/sim_models"%>	
		<%= link_to "Login","/users/sign_in" %>
		<%= link_to "Register","/users/sign_up" %>
	<% end %>	
</div>
<hr/>
<p class="notice"><%= notice%></p>
<p class="alert"><%= alert%></p>
<%= yield %>
</body>
</html>